[2016-06-08 08:00] amihaiemil opened #1 "Setup log4j"

[2016-06-08 08:18] amihaiemil opened #2 "Rename GithubIssues.java to GithubAgent.java"
The calss should be renamed since it should do more than just check for issues. (e.g. takes the agent's login). Also, make it Statelss since the changing of system property `charles.github.ejb.token` and thus change of the github agent should be dynamic.

[2016-06-08 08:41] #2 closed, assigned to amihaiemil

[2016-06-08 08:41] #1 closed, assigned to amihaiemil

[2016-06-08 08:43] amihaiemil opened #5 "Add Action.java"
`Action.java` encapsulates the response logic to an issue where the agent was mentioned. It should also implement `Runnable` to run on a sepparate thread.

[2016-06-08 08:46] amihaiemil opened #6 "GithubIssue.java"
This class should encapsulate a `com.jcabi.github.Issue` together with its number and repository fullname (which are initially obtained when searching for issues)

[2016-06-08 08:55] amihaiemil commented on #6
This is to have a more efficient implementation. We have the issue number and repo name (which we use further) from the start, so it makes no sense to make other http calls to get them.

[2016-06-08 09:02] #6 closed, assigned to amihaiemil

[2016-06-08 11:21] #5 closed, assigned to amihaiemil

[2016-06-08 11:22] amihaiemil opened #9 "Add responses.properties"
Also a `Singleton` ejb to load the file needs to be implemented.

[2016-06-08 12:03] amihaiemil commented on #9
done

[2016-06-08 12:03] #9 closed, assigned to amihaiemil

[2016-06-08 12:24] amihaiemil opened #11 "Implement LastComment.java"
Class that holds the last comment where the agent was mentioned. This is the comment that the agent will reply to/take action about.

[2016-06-08 12:28] amihaiemil commented on #11
Implementation:

1) we have the issue where the agent was mentioned (from the notification) .
2) We check the notification to see if the mention was done in the `latest_comment_url`. If yes, then that is considered the comment to be answered, the `LastComment`
3) if `latest_comment_url` did not contain a mention of the agent, we iterate the issue's comments backwards and take the first comment tha

[2016-06-08 18:44] amihaiemil commented on #11
done

[2016-06-08 18:44] #11 closed, assigned to nobody

[2016-06-08 18:51] amihaiemil opened #13 "Implement ReplyTo(Comment) called by Action.take"
Reply logic. What to reply and do when the agent is mentioned in a comment.

[2016-06-10 11:15] amihaiemil commented on #13
done

[2016-06-10 11:15] #13 closed, assigned to amihaiemil

[2016-06-10 11:51] amihaiemil opened #15 "Logging for each Action thread"
Each Action thread should log in a sepparate file.

[2016-06-10 14:46] amihaiemil opened #16 "Implement a command categorizer"
A class that knows how to categorize commands is needed. It should distinguish between hello, index and other unkown commads.

[2016-06-12 09:37] amihaiemil commented on #15
done

[2016-06-12 09:38] #15 closed, assigned to amihaiemil

[2016-06-12 10:21] amihaiemil opened #18 "Add version and since to classes"
Version and since annotations need to be added to each class.

[2016-06-12 13:08] amihaiemil commented on #16
@charlesmike hello

[2016-06-12 13:10] amihaiemil opened #20 "Write regexes for english commands"
Regex for english need to be implemented in `src/main/resources/commans_en.properties`

[2016-06-12 13:10] amihaiemil opened #21 "Implement English.categorize(String)"
The method needs implementation + unit test.

[2016-06-12 13:12] amihaiemil opened #22 "Link to docs in case of unkown command"
There should be a page documenting the commands that it understands.

[2016-06-12 13:13] amihaiemil commented on #16
done. The tasks #20, #21  and #22 were generated here.

[2016-06-12 13:13] #16 closed, assigned to amihaiemil

[2016-06-12 13:30] #18 closed, assigned to amihaiemil

[2016-06-12 13:42] amihaiemil opened #23 "Load responses as part of each Language"
Same as commands, responses should be bound to each Language. This way, we remove the `Responses` and command/response is more uniform.

[2016-06-13 12:25] amihaiemil opened #24 "Catch IOException in checkForNotifications()."
See method `GithubNotificationsCheck.checkForNotifications()`.

The `IOException` should be caught and logged instead of `thrown`, since the `@Schedule` javadoc mentions that `Timeout callback methods must not throw application exceptions.`

[2016-06-13 12:47] amihaiemil commented on #24
done

[2016-06-13 12:47] #24 closed, assigned to amihaiemil

[2016-06-14 11:42] amihaiemil commented on #20
wrote regexes for hello, index whole site and index one page commands

[2016-06-14 11:42] #20 closed, assigned to amihaiemil

[2016-06-14 14:33] amihaiemil commented on #21
done

[2016-06-14 14:33] #21 closed, assigned to amihaiemil

[2016-06-15 18:30] amihaiemil commented on #22
@charlesmike doesn't know many commands

[2016-06-15 18:31] charlesmike commented on #22
@amihaiemil, sorry, I do not understand you. See [this link](#) for more details.

[2016-06-15 18:35] amihaiemil commented on #22
@charlesmike hello there!

[2016-06-15 18:36] charlesmike commented on #22
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``author.github.io`` and the command is given by the repo's author.

[2016-06-15 19:01] amihaiemil commented on #22
@charlesmike, hi!!!

[2016-06-15 19:02] charlesmike commented on #22
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``author.github.io`` and the command is given by the repo's author.

[2016-06-16 14:02] amihaiemil opened #28 "Start implementing a website for charles/charles-github-ejb"
A website is needed for the project

[2016-06-17 07:20] amihaiemil commented on #23
done

[2016-06-17 07:20] #23 closed, assigned to amihaiemil

[2016-06-17 16:34] amihaiemil opened #30 "Jax-rs to fetch logs"
Log files for each Action need to be retrieved from the server

[2016-06-18 06:01] amihaiemil opened #31 "Add charles-rest here"
Add project charles-rest to this repository and wrap charles-github-ejb inside it.

[2016-06-19 15:47] amihaiemil commented on #31
@charlesmike hi there!!!

[2016-06-19 15:48] charlesmike commented on #31
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `author.github.io` and the command is given by the repo's author.

[2016-06-19 16:26] amihaiemil commented on #31
done

[2016-06-19 16:26] #31 closed, assigned to amihaiemil

[2016-06-19 16:39] amihaiemil commented on #30
Implement a REST endpoint in `charles-rest` that fetches `Action`s log files by name.

[2016-06-23 12:16] amihaiemil commented on #30
done

[2016-06-23 12:16] #30 closed, assigned to amihaiemil

[2016-06-23 12:20] amihaiemil opened #34 "Command preview in reply"
`TextReply` should display a command preview above the text content

[2016-06-23 12:33] amihaiemil opened #35 "Send ErrorReply"
Add text to the ErrorReply

[2016-06-23 12:46] amihaiemil opened #36 "Add Logs interface"
`Logs` interface, implemented by `LogsInGist` and `LogsOnServer`, which will return the address of an Action's log file, depending on whether the ejb is deployed standalone or together with `charles-rest`.

If it's standalone, then each log file will be written in a secret Github Gist and the link to that gist is returned to the client. If it's not standalone, then a link to `charles-rest`'s logs

[2016-06-23 13:38] amihaiemil opened #37 "Propagate Action Logger"
Propagate an Action's Logger to other methods like `Brain.understand` in order to log the Action in more detail.

[2016-06-23 13:43] amihaiemil opened #38 "Implement LogsInGist.address"
The method still needs to be implemented.

[2016-06-23 13:44] amihaiemil commented on #36
Ticket #38 originated form here

[2016-06-23 13:49] amihaiemil commented on #36
done

[2016-06-23 13:49] #36 closed, assigned to amihaiemil

[2016-06-23 14:08] amihaiemil commented on #35
done

[2016-06-23 14:08] #35 closed, assigned to amihaiemil

[2016-06-24 15:01] amihaiemil commented on #34
done

[2016-06-24 15:01] #34 closed, assigned to amihaiemil

[2016-06-27 08:37] amihaiemil opened #42 "Start implement Index step"
a Step that performs site indexing needs to be implemented

[2016-06-27 17:04] amihaiemil opened #43 "Bug in Brain.understand"
Currently it loops through all the Languages, meaning that if the command is not written in the last Language in the list, it will not be understood. The iteration should stop once the command is understood

[2016-06-27 17:27] amihaiemil commented on #43
@charlesmike hi...

[2016-06-27 17:28] charlesmike commented on #43
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``author.github.io`` and the command is given by the repo's author.

[2016-06-27 17:56] #43 closed, assigned to amihaiemil

[2016-06-27 18:25] amihaiemil commented on #37
@charlesmike hello

[2016-06-27 18:26] charlesmike commented on #37
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``author.github.io`` and the command is given by the repo's author.

[2016-06-27 18:39] amihaiemil commented on #37
@charlesmike doesn't understand much

[2016-06-27 18:40] charlesmike commented on #37
@amihaiemil, sorry, I do not understand you. See [this link](#) for more details.

[2016-06-27 19:05] amihaiemil opened #45 "Encapsulate Step performing logic"
Currently the agent needs to perform 1 or more steps to fulfill a command. Encapsulate this logic into `Steps implements Step`. Also `Step.perform()` should return `boolean`:

1) true if the next step(s) can be performed
2) false otherwise.

[2016-06-27 19:19] amihaiemil commented on #37
done

[2016-06-27 19:19] #37 closed, assigned to amihaiemil

[2016-06-27 20:30] amihaiemil opened #47 "Pass Logger to a Step"
The action's logger needs to be passed to each Step so it can log its activity in the propper file

[2016-06-28 05:43] amihaiemil commented on #45
done

[2016-06-28 05:43] #45 closed, assigned to amihaiemil

[2016-06-28 05:45] amihaiemil opened #49 "Handle closed issue case"
The agent might receive a notification from an issue which is closed before it can reply. This case needs to be treated properly since now it gives 404 errors in the logs

[2016-06-28 08:13] amihaiemil opened #50 "Step to star an indexed repository"
The agent needs to know if the repo was already indexed, so star a repo once it's indexed and check if it's starred or not when needed.

[2016-06-28 10:05] amihaiemil commented on #50
done

[2016-06-28 10:05] #50 closed, assigned to amihaiemil

[2016-06-28 10:45] amihaiemil opened #52 "Refactor Command/CommandCategory"
A `ValidCommand` should hold its type and language (default to "unknown" and English). This way also `TextReply` and `Brain.understand` will be refactored.

[2016-06-28 13:29] #52 closed, assigned to amihaiemil

[2016-06-28 13:57] amihaiemil opened #53 "Step that checks for repo owner and name"
The first step taken when receiveing an index command is to check if the commander is the repo owner and the repo name follows the pattern name `author.github.io`

[2016-06-29 05:45] amihaiemil commented on #53
this should actually be split in 2 steps: 1 for author and 1 for repo name

[2016-06-29 08:59] amihaiemil commented on #53
done

[2016-06-29 08:59] #53 closed, assigned to amihaiemil

[2016-06-29 19:46] amihaiemil commented on #49
done

[2016-06-29 19:46] #49 closed, assigned to amihaiemil

[2016-06-29 19:56] amihaiemil commented on #37
@amihaiemil hi

[2016-06-30 08:34] amihaiemil opened #56 "Step to send email"
The agent should send more private information to the commander by email (e.g. once the site is indexed, the commander should add a javascript to the website - this script tag should be sent by email in order to not expose it in the Github issue)

[2016-06-30 11:54] #56 closed, assigned to amihaiemil

[2016-06-30 11:55] amihaiemil opened #58 "AuthorOwnerCheck should also check if repo is a fork"
It should also be checked if the repo is a fork or not.

[2016-06-30 12:18] amihaiemil commented on #58
fixed

[2016-06-30 12:18] #58 closed, assigned to amihaiemil

[2016-06-30 13:40] amihaiemil opened #60 "Start implementing REST interface"
Endpoints needed for

POST
1) index site
2) index page
- here also parameters like elasticsearch/solr index could be specified
- protected endpoints

GET
3) search

and others

[2016-07-01 12:32] amihaiemil commented on #47
Done

[2016-07-01 12:32] #47 closed, assigned to amihaiemil

[2016-07-03 10:36] amihaiemil opened #62 "Index also gh-pages sites"
It should also be able to index gh-pages sites, not only dedicated `owner.github.io` repos

[2016-07-04 07:04] amihaiemil opened #63 "Simple SendEmail constructor"
A constructor `SendEmail(String to, String message)` is needed. It checks for 4 system properties:

`charles.smtp.host`,
`charles.smtp.port`,
`charles.smtp.username`,
`charles.smtp.password`

The first 2 are optional and if not mentioned, then `smtp.gmail.com` (Gmail) is used to send emails.

[2016-07-04 07:04] amihaiemil commented on #42
Started on branch 42, waits for #63

[2016-07-04 11:15] amihaiemil commented on #63
Also parameter `charles.smtp.secure` can take values `true` or `false` (if the mail should be sent via SMTPS or SMTP) - defaults to `false`.

Note: For Gmail, the defautl SMTP server, always SMTPS is used!

[2016-07-04 11:24] amihaiemil commented on #63
done

[2016-07-04 11:24] #63 closed, assigned to amihaiemil

[2016-07-04 11:46] amihaiemil commented on #42
#63 is done. It now waits for #62.

[2016-07-04 14:32] amihaiemil commented on #62
done

[2016-07-04 14:32] #62 closed, assigned to amihaiemil

[2016-07-06 14:08] amihaiemil opened #67 "Pull out check for fork"
Currently the check for repo fork is done in `AuthorOwnerCheck` and needs to be pulled out and performed after both repo name check and gh-pages branch check.

[2016-07-06 14:08] amihaiemil commented on #67
originated fron #42

[2016-07-06 14:33] #42 closed, assigned to amihaiemil

[2016-07-06 14:34] amihaiemil opened #68 "Implement IndexSite.perform"
Metod still needs to be implemented using [charles](https://github.com/amihaiemil/charles)

[2016-07-06 14:36] amihaiemil opened #69 "Refactor repository steps"
Steps that work with Json repository should be constructed with such a json directly and not make individual calls to the Githbu API. This reduces the overall number of http call and also IOException risk is lower,

[2016-07-07 10:46] amihaiemil commented on #69
done

[2016-07-07 10:46] #69 closed, assigned to amihaiemil

[2016-07-07 10:46] amihaiemil commented on #67
done

[2016-07-07 10:46] #67 closed, assigned to amihaiemil

[2016-07-07 13:09] amihaiemil opened #71 "Fix Command.authorEmail()"
The email attribute is not present in the user object (author) of a comment, so it has to be taken by making another HTTP call to the GET user resource.

Also, since both `ValidCommand` and `LastComment` have the same method implementations, `Command` can be an abstract class instead of an interface.

[2016-07-08 06:05] #71 closed, assigned to amihaiemil

[2016-07-08 08:36] amihaiemil opened #73 "Pull out IndexSiteSteps.sendFollowupMessage"
The logic from that method should be pulled out into `FollowupMessage` class. Also, if mail send fails, then a comment should be posted to Github.

[2016-07-08 10:26] amihaiemil commented on #73
Decided to remove `SendEmail` logic for now and just respond only via Github comment. Mainly because it introduces too much complexity/configs and risk for failure.

[2016-07-08 10:33] amihaiemil commented on #73
`FollowupMessage` not needed for now

[2016-07-08 10:58] amihaiemil commented on #73
@charlesmike pls index

[2016-07-08 10:59] charlesmike commented on #73
@amihaiemil Index site action started. I'll let you know of the progress...

[2016-07-08 10:59] charlesmike commented on #73
@@amihaiemil the repository's name must match the format `owner.github.io` or it must have a project website on branch `gh-pages`

[2016-07-08 10:59] charlesmike commented on #73
@amihaiemil Action finished successfully. See [logs](http://localhost:8080/charles/api/logs/b0d45c05-be2c-4561-8626-f15422e17089.log) the logs for more details.
 If you notice any inexplicable errors, please open an issue <a href="https://github.com/amihaiemil/charles-github-ejb">here</a>

[2016-07-08 12:49] #73 closed, assigned to amihaiemil

[2016-07-13 15:34] amihaiemil commented on #22
@charlesmike hello there!!

[2016-07-13 15:37] amihaiemil commented on #22
@charlesmike hi

[2016-07-14 08:21] amihaiemil commented on #68
@charlesmike hi

[2016-07-23 11:16] amihaiemil opened #75 "Refactos IndexSiteSteps. Pull out FollowupSteps"
Method confirmationReply(...) and StarRepo step shiuld be put in a sepparate followup step.

[2016-07-23 11:32] amihaiemil opened #76 "Refactor IndexSiteSteps. Pull out IndexPreconditionChecks step."
The precondition logic should be taken out into `IndexPreconditionChecks` since it will be used with `IndexPageSteps` as well.

[2016-07-23 11:37] amihaiemil opened #77 "Implement IndexPageSteps"
Logic to index a single page given in a command

[2016-07-24 08:03] amihaiemil commented on #28
Skeleton of the branch is on branch `gh-pages`

[2016-07-24 08:03] #28 closed, assigned to amihaiemil

[2016-07-24 08:04] amihaiemil opened #78 "Scripts for the website"
The website needs js scripts to show the Github contributors and last updates date, using the Github API

[2016-08-11 13:11] amihaiemil commented on #78
done

[2016-08-11 13:11] #78 closed, assigned to nobody

[2016-08-20 11:14] amihaiemil commented on #22
done

[2016-08-20 11:14] #22 closed, assigned to amihaiemil

[2016-08-25 11:24] amihaiemil opened #81 "Logger properties bug in Action()"
The logger for an Action thread is not constructed correctly. The main problem is that `PropertyConfigurator.configure(properties)` is not thread safe.
The other approach with

[code]

should be used.

[2016-08-25 11:32] amihaiemil commented on #76
done

[2016-08-25 11:32] #76 closed, assigned to amihaiemil

[2016-08-29 10:12] amihaiemil commented on #38
done

[2016-08-29 10:12] #38 closed, assigned to amihaiemil

[2016-08-29 13:07] amihaiemil commented on #81
done

[2016-08-29 13:07] #81 closed, assigned to amihaiemil

[2016-08-29 14:08] amihaiemil opened #85 "AuthorOwnerCheck needs to check for org admin"
The commanded repository might be under an organization, in which case **the command's author must be an active admin of that organization** .

**IMPORTANT:**
Due to the current API (see [here](https://developer.github.com/v3/orgs/members/#get-organization-membership)), the Github chatbot must be a member of the organization in order to be able to check the commander's membership. Add this info to

[2016-08-30 10:58] amihaiemil commented on #75
Done

[2016-08-30 10:58] #75 closed, assigned to amihaiemil

[2016-08-30 13:15] amihaiemil commented on #85
done

[2016-08-30 13:15] #85 closed, assigned to amihaiemil

[2016-09-01 08:37] amihaiemil opened #88 "Simplify implementation. The ejb must go with the war."
The initial idea was to decouple the `ejb jar` from the `war` and be able to deploy the simple ejb standalone (the `war` was going to be only a wrapper to extend functionality)

However, as it turns out, this means a lot of tweaks and implementation workarounds (for instance writing the logs to a github gist if the ejb jar is standalone - since there is no rest endpoint to provide the logs directl

[2016-09-01 11:36] amihaiemil commented on #88
done

[2016-09-01 11:36] #88 closed, assigned to amihaiemil

[2016-09-08 09:00] amihaiemil opened #91 "Implement IndexPage.perform"
IndexPage Step needs to be implemented

[2016-09-08 09:02] amihaiemil commented on #77
done with refactoring

[2016-09-08 09:02] #77 closed, assigned to amihaiemil

[2016-09-13 13:41] amihaiemil opened #92 "Implement AmazonEsRepository"
Amazon ElasticSearch repository which uses the Amazon Java SDK to send requests to the elasticsearch hosted in the AWS cloud. This leverages the request signing process; it would be more difficult to implement it with the raw Apache Http client.

[2016-09-14 07:50] amihaiemil opened #93 "Increase test coverage"
Unit test coverage is 74% and it could be increased.

[2016-09-14 10:38] amihaiemil commented on #93
done

[2016-09-14 10:38] #93 closed, assigned to amihaiemil

[2016-09-15 08:09] amihaiemil commented on #92
@charlesmike hello

[2016-09-15 08:10] charlesmike commented on #92
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

[2016-09-15 08:10] amihaiemil commented on #92
@charlesmike index plm

[2016-09-15 08:11] charlesmike commented on #92
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-09-15 08:11] charlesmike commented on #92
@amihaiemil Index command executed successfully!
 Add the following script to the website in order to make the search functionality available:

 &lt;script src=&quot;#&quot;&gt;charles-github-ejb&lt;/script&gt;

 See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/94e77037-36bf-4ff2-b00c-8156a99fb54e.log) for more details.
 If you notice any inexplicable err

[2016-09-15 08:13] amihaiemil commented on #92
@charlesmike index [this](#) page

[2016-09-15 08:14] charlesmike commented on #92
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-09-15 08:14] charlesmike commented on #92
@amihaiemil Index command executed successfully!
 Add the following script to the website in order to make the search functionality available:

 &lt;script src=&quot;#&quot;&gt;charles-github-ejb&lt;/script&gt;

 See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/892a0b08-cbf9-4fb9-ae1b-06631af1f779.log) for more details.
 If you notice any inexplicable err

[2016-09-15 08:15] amihaiemil commented on #92
@charlesmike how is it up on aws??

[2016-09-15 08:16] charlesmike commented on #92
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-09-15 08:45] amihaiemil commented on #91
@charlesmike hi

[2016-09-15 08:46] charlesmike commented on #91
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-15 09:51] amihaiemil opened #96 "Rethink precondition/index steps precedenc"
The index precondition step should know the next step that follows after it, not just return `true | false` because this does not cover all the cases.

E.g. when repo ownership check fails, the step returns `false` and this is treated as an error between the steps. The precondition check step should know the next step is indexing if precondition is met, or leave a comment reply if it fails.

[2016-09-15 10:41] amihaiemil opened #97 "Implement CorsFilter"
A filter is needed to set the "Access-Control-Allow-Origin", "*" header on the response.

[2016-09-15 11:29] amihaiemil commented on #97
done

[2016-09-15 11:29] #97 closed, assigned to amihaiemil

[2016-09-15 13:22] amihaiemil commented on #96
done

[2016-09-15 13:22] #96 closed, assigned to amihaiemil

[2016-09-15 16:27] amihaiemil commented on #91
@charlesmike index

[2016-09-15 16:28] charlesmike commented on #91
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-09-15 16:28] charlesmike commented on #91
@amihaiemil Index command executed successfully!
 Add the following script to the website in order to make the search functionality available:

 &lt;script src=&quot;#&quot;&gt;charles-github-ejb&lt;/script&gt;

 See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/7a27979c-d5a0-4429-9602-eadbb2087d81.log) for more details.
 If you notice any inexplicable err

[2016-09-16 06:30] amihaiemil commented on #92
@charlesmike index please

[2016-09-16 06:31] charlesmike commented on #92
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-09-16 06:31] charlesmike commented on #92
@amihaiemil Index command executed successfully!
 Add the following script to the website in order to make the search functionality available:

 &lt;script src=&quot;#&quot;&gt;charles-github-ejb&lt;/script&gt;

 See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/4883dc70-cc94-404d-a347-34c8bfe4b94c.log) for more details.
 If you notice any inexplicable err

[2016-09-16 06:33] amihaiemil commented on #92
@charlesmike hi there!!!

[2016-09-16 06:34] charlesmike commented on #92
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

[2016-09-18 12:03] amihaiemil commented on #68
done

[2016-09-18 12:03] #68 closed, assigned to amihaiemil

[2016-09-19 06:42] amihaiemil opened #101 "REST endpoint for search"
REST endpoint for search with pagination, using the AWS sdk to sign requests to amazon

[2016-09-19 10:32] amihaiemil opened #102 "Pull out notification checker in the EJB"
In the current architecture the Github notification scheduler is inside the ejb jar, which comes as a dependency in the war.

This **coupling** works fine if there is a single server, but if you deploy it on more nodes for load balancing then it's not ok - the scheduler will run in the same time from all the nodes, which does not make sense. Different java ee web servers solve this in all sorts of

[2016-09-19 10:35] amihaiemil commented on #102
@charlesmike hi

[2016-09-19 11:14] charlesmike commented on #102
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

[2016-09-19 12:51] amihaiemil commented on #101
@charlesmike hello

[2016-09-19 12:52] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-19 22:04] amihaiemil commented on #102
@charlesmike hello

[2016-09-19 22:05] charlesmike commented on #102
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-20 17:32] #60 closed, assigned to amihaiemil

[2016-09-20 17:51] amihaiemil commented on #102
@charlesmike some notification here!!

[2016-09-20 17:54] amihaiemil commented on #102
test here

[2016-09-20 18:13] charlesmike commented on #102
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-09-21 05:57] amihaiemil commented on #102
@charlesmike hi

[2016-09-21 05:58] charlesmike commented on #102
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-22 14:29] amihaiemil commented on #102
done

[2016-09-22 14:29] #102 closed, assigned to amihaiemil

[2016-09-23 06:36] amihaiemil commented on #101
@charlesmike hello

[2016-09-23 06:37] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-23 06:40] amihaiemil commented on #101
@charlesmike how's the new architecture?

[2016-09-23 06:41] charlesmike commented on #101
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-09-23 07:01] amihaiemil commented on #101
@charlesmike hello there

[2016-09-23 07:01] amihaiemil commented on #101
@charlesmike index

[2016-09-23 07:01] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-23 07:07] amihaiemil commented on #101
@charlesmike index

[2016-09-23 07:07] amihaiemil commented on #101
some other comment addressed to someone else

[2016-09-23 07:07] charlesmike commented on #101
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-09-23 07:13] amihaiemil commented on #92
@charlesmike hello

[2016-09-23 07:13] charlesmike commented on #92
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-23 09:09] amihaiemil commented on #101
@charlesmike hi there

[2016-09-23 09:09] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-25 08:21] amihaiemil commented on #91
@charlesmike hi

[2016-09-25 08:21] charlesmike commented on #91
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-28 14:02] amihaiemil commented on #101
@charlesmike online?

[2016-09-28 14:03] charlesmike commented on #101
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-09-29 13:46] amihaiemil commented on #92
Done

[2016-09-29 13:46] #92 closed, assigned to amihaiemil

[2016-09-29 16:23] amihaiemil opened #106 "Precondition for index-page"
In `Brain.indexSteps` a precindition needs to be added in case of an index-page command: it has to be checked that the given link (the one given in the command) belongs to the website represented by the repository.

Class `PageHostedOnGithubCheck` was already created for this.

[2016-09-29 16:35] amihaiemil commented on #91
done

[2016-09-29 16:35] #91 closed, assigned to amihaiemil

[2016-09-29 17:13] amihaiemil commented on #101
@charlesmike hello there

[2016-09-29 17:13] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-29 17:17] amihaiemil commented on #101
@charlesmike hello

[2016-09-29 17:17] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-09-30 10:54] amihaiemil commented on #106
done

[2016-09-30 10:54] #106 closed, assigned to amihaiemil

[2016-09-30 10:56] amihaiemil opened #108 "Pull out organization admin check"
Currently [AuthorOwnerCheck](https://github.com/amihaiemil/charles-github-ejb/blob/master/charles-rest/src/main/java/com/amihaiemil/charles/github/AuthorOwnerCheck.java) is the one which checks for organization admin if the name doesn't match.

This is not right since we cannot tell whether `perform()` returns false because the check logically failed (the author does not own the repo at all) or re

[2016-09-30 11:00] amihaiemil opened #109 "Methods which have cached answers for Command"
[Command](https://github.com/amihaiemil/charles-github-ejb/blob/master/charles-rest/src/main/java/com/amihaiemil/charles/github/Command.java) should have methods that cache their results before returning/check the cache before making an http call to Github's API.

This would greatly refactor the code. E.g. method `repo() : JsonObject` is necessary to get rid of the DTO JsonObject repo which is cur

[2016-09-30 14:23] amihaiemil commented on #108
done

[2016-09-30 14:23] #108 closed, assigned to amihaiemil

[2016-10-01 16:20] amihaiemil commented on #109
@charlesmike hi

[2016-10-01 16:34] amihaiemil commented on #109
@charlesmike hello

[2016-10-01 16:42] charlesmike commented on #109
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-10-01 16:44] amihaiemil commented on #109
@charlesmike index

[2016-10-01 17:41] amihaiemil commented on #109
@charlesmike index

[2016-10-01 17:52] amihaiemil commented on #109
@charlesmike hello

[2016-10-02 18:59] amihaiemil commented on #109
@charlesmike index

[2016-10-02 19:06] charlesmike commented on #109
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-10-02 19:07] charlesmike commented on #109
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_ac6e0fcc-53e7-4ff1-b247-2b10382614a4.log) for details.

[2016-10-02 19:10] amihaiemil commented on #109
@charlesmike hello

[2016-10-02 19:22] charlesmike commented on #109
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-10-02 19:22] amihaiemil commented on #109
@charlesmike index

[2016-10-02 19:24] charlesmike commented on #109
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-10-02 19:24] charlesmike commented on #109
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_58483c5f-06ce-4444-ad14-f0ff500de0a3.log) for details.

[2016-10-02 19:26] amihaiemil commented on #109
@charlesmike pls index [this](http://www.amihaiemil.com/rest/2016/06/03/using-google-recaptha-with-jax-rs.html) page

[2016-10-02 19:28] charlesmike commented on #109
amihaiemil the given page does not seem to belong to the website hosted in this repo!

Make sure that the link starts with `http://` or `https://` followed by`owner.github.io/...` Do not use the CNAME or any other link, even if it redirects toa page from this repo.

  If this condition is met and it still doesn't work please open an issue [here](https://github.com/amihaiemil/charles-github-ejb/iss

[2016-10-02 20:02] amihaiemil commented on #109
@charlesmike hi there

[2016-10-02 20:04] charlesmike commented on #109
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-10-03 08:31] amihaiemil commented on #109
@charlesmike pls index [this](http://www.amihaiemil.com/rest/2016/06/03/using-google-recaptha-with-jax-rs.html) page

[2016-10-03 08:32] charlesmike commented on #109
amihaiemil the given page does not seem to belong to the website hosted in this repo!

Make sure that the link starts with `http://` or `https://` followed by`owner.github.io/...` Do not use the CNAME or any other link, even if it redirects toa page from this repo.

  If this condition is met and it still doesn't work please open an issue [here](https://github.com/amihaiemil/charles-github-ejb/iss

[2016-10-03 08:52] #109 closed, assigned to amihaiemil

[2016-10-03 08:55] amihaiemil opened #112 "Steps structure needs to be tree-like"
We're almost there, but still some builders are used which turns out to be a big defect.
e.g. a lot of `if/else` structures, big methods and quite complicated precedence logic.

All the steps **should be organized in a tree structure**. Each step should know its children (next step(s)).
No more builders.

Also unit tests might have to be updated.

[2016-10-06 12:52] amihaiemil commented on #112
done

[2016-10-06 12:52] #112 closed, assigned to amihaiemil

[2016-10-06 14:28] amihaiemil commented on #101
@charlesmike index

[2016-10-06 14:30] charlesmike commented on #101
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-10-06 14:30] charlesmike commented on #101
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_9aef715f-b2f5-4642-9a82-19f072406550.log) for details.

[2016-10-06 19:10] amihaiemil commented on #101
@charlesmike hello

[2016-10-06 19:12] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-10-06 19:13] amihaiemil commented on #101
@charlesmike index

[2016-10-06 19:14] charlesmike commented on #101
@amihaiemil the repository must not be a fork, you must own this repository.

[2016-10-06 19:15] amihaiemil commented on #101
@charlesmike index

[2016-10-06 19:16] charlesmike commented on #101
@amihaiemil the repository must not be a fork, you must own this repository.

[2016-10-07 07:02] amihaiemil opened #114 "Bug in checks order"
Bug in the checks' execution order. As seen below, the index action should start, since I am repo owner and the repo has a gh-pages branch

[2016-10-07 07:02] amihaiemil commented on #114
@charlesmike index

[2016-10-07 07:04] charlesmike commented on #114
@amihaiemil the repository must not be a fork, you must own this repository.

[2016-10-07 11:58] amihaiemil commented on #114
done

[2016-10-07 11:58] #114 closed, assigned to amihaiemil

[2016-10-07 12:00] amihaiemil opened #116 "Unit tests for Command.java"
More unit tests are needed for [Command.java](https://github.com/amihaiemil/charles-github-ejb/blob/master/charles-rest/src/main/java/com/amihaiemil/charles/github/Command.java)

[2016-10-08 10:25] amihaiemil commented on #116
@charlesmike hello

[2016-10-08 10:26] charlesmike commented on #116
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-10-08 10:27] amihaiemil commented on #116
@charlesmike index

[2016-10-08 10:28] charlesmike commented on #116
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-10-08 10:33] amihaiemil opened #117 "NPE if the phantomjs path is not specified"
NPE si thrown by `IndexSite.graphCrawl` if the path to phantom js is not specified

[2016-10-08 10:33] amihaiemil commented on #116
@charlesmike online?

[2016-10-08 10:34] charlesmike commented on #116
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-10-09 08:09] amihaiemil commented on #116
@charlesmike hi

[2016-10-09 08:10] charlesmike commented on #116
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-10-09 13:39] amihaiemil commented on #116
Done

[2016-10-09 13:39] #116 closed, assigned to amihaiemil

[2016-10-10 12:25] amihaiemil commented on #117
done

[2016-10-10 12:25] #117 closed, assigned to amihaiemil

[2016-10-12 12:20] amihaiemil commented on #101
@charlesmike hi there

[2016-10-12 12:22] charlesmike commented on #101
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-10-14 13:28] amihaiemil commented on #101
done

[2016-10-14 13:28] #101 closed, assigned to amihaiemil

[2016-10-22 11:16] amihaiemil opened #121 "For index"

[2016-10-22 11:16] amihaiemil commented on #121
@charlesmike index pls

[2016-10-22 11:17] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly.

[2016-10-22 12:41] amihaiemil opened #122 "Catch all runtime exceptions"
All RuntimeExceptions should be caught and logged, so we can always tell the user if something went wrong.

Also, link to the logs has to be added in the index start comment, so the user can follow them (right now the logs are only shown in case of error)

[2016-10-22 14:09] amihaiemil commented on #121
@charlesmike index

[2016-10-22 14:14] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_8a46fa1b-bb6c-467e-bed9-e46ffa7db9de.log).

[2016-10-22 14:16] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_8a46fa1b-bb6c-467e-bed9-e46ffa7db9de.log) for details.

[2016-10-22 14:29] amihaiemil commented on #122
done

[2016-10-22 14:29] #122 closed, assigned to amihaiemil

[2016-10-22 18:54] amihaiemil commented on #121
@charlesmike index [this](http://charles.amihaiemil.com) page pls

[2016-10-22 18:56] charlesmike commented on #121
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-10-22 19:02] amihaiemil commented on #121
@charlesmike index [this](http://charles.amihaiemil.com) page

[2016-10-22 19:02] charlesmike commented on #121
@amihaiemil the given page does not seem to belong to the website hosted in this repo!

Make sure that the link starts with ``http://`` or ``https://`` followed by``yourusername.github.io/...`` Do not use the CNAME or any other link, even if it redirects toa page from this repo.

  If this condition is met and it still doesn't work please open an issue [here](https://github.com/amihaiemil/charles-

[2016-10-22 19:04] amihaiemil commented on #121
@charlesmike index [this](http://amihaiemil.github.io/charles-github-ejb) page

[2016-10-22 19:06] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_d6c3b51e-f6d7-4bf1-aa89-a54910541e40.log).

[2016-10-22 19:06] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_d6c3b51e-f6d7-4bf1-aa89-a54910541e40.log) for details.

[2016-10-23 15:44] amihaiemil commented on #121
@charlesmike index

[2016-10-23 15:46] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_5430c371-2060-4e63-a386-674c673555ad.log).

[2016-10-23 15:47] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_5430c371-2060-4e63-a386-674c673555ad.log) for details.

[2016-10-23 16:04] amihaiemil commented on #121
@charlesmike index

[2016-10-23 16:04] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_0e61d411-7e15-4d40-9af8-1ec71ad4b578.log).

[2016-10-23 16:04] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_0e61d411-7e15-4d40-9af8-1ec71ad4b578.log) for details.

[2016-10-23 16:15] amihaiemil commented on #121
@charlesmike index pls

[2016-10-23 16:15] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_3f7b3b4c-faf4-40ea-a162-bf83edb652e0.log).

[2016-10-23 16:15] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_3f7b3b4c-faf4-40ea-a162-bf83edb652e0.log) for details.

[2016-10-23 16:37] amihaiemil commented on #121
@charlesmike index

[2016-10-23 16:37] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_a4e3c0a8-59d1-4359-9997-558a157e7abb.log).

[2016-10-23 16:38] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_a4e3c0a8-59d1-4359-9997-558a157e7abb.log) for details.

[2016-10-23 16:39] amihaiemil commented on #121
@charlesmike index pls

[2016-10-23 16:39] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_68dd41ef-3e8f-4724-8bcd-d4b016d8b698.log).

[2016-10-23 16:39] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_68dd41ef-3e8f-4724-8bcd-d4b016d8b698.log) for details.

[2016-10-23 16:45] amihaiemil commented on #121
@charlesmike index

[2016-10-23 16:45] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_0a57af05-6e9e-485c-b452-dc5c144fab05.log).

[2016-10-23 16:46] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_0a57af05-6e9e-485c-b452-dc5c144fab05.log) for details.

[2016-10-23 16:49] amihaiemil commented on #121
@charlesmike index

[2016-10-23 16:49] charlesmike commented on #121
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-10-23 16:50] amihaiemil commented on #121
@charlesmike index

[2016-10-23 16:51] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_e1868d9d-df05-4a34-aee5-b8f316a5f7d4.log).

[2016-10-23 16:51] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_e1868d9d-df05-4a34-aee5-b8f316a5f7d4.log) for details.

[2016-10-23 16:53] amihaiemil commented on #121
@charlesmike index

[2016-10-23 16:54] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_0da23cf6-9dcb-4397-94aa-689df106f9a0.log).

[2016-10-23 16:54] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_0da23cf6-9dcb-4397-94aa-689df106f9a0.log) for details.

[2016-10-23 16:55] amihaiemil commented on #121
@charlesmike index

[2016-10-23 16:56] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_bce50cef-12d9-4dab-b800-a05d5df2f29c.log).

[2016-10-23 16:56] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_bce50cef-12d9-4dab-b800-a05d5df2f29c.log) for details.

[2016-10-23 16:58] amihaiemil commented on #121
@charlesmike index pls

[2016-10-23 16:58] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_7236bb65-b444-4597-ade2-b91f3ef25aaa.log).

[2016-10-23 16:58] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_7236bb65-b444-4597-ade2-b91f3ef25aaa.log) for details.

[2016-10-23 16:59] amihaiemil commented on #121
@charlesmike index

[2016-10-23 17:00] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_c1f10727-af6f-469e-9108-f20b50dc5470.log).

[2016-10-23 17:00] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_c1f10727-af6f-469e-9108-f20b50dc5470.log) for details.

[2016-10-23 17:41] amihaiemil commented on #121
@charlesmike index

[2016-10-23 17:42] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_6514c8af-bcfa-4ac2-9d65-b9f9a1bdf344.log).

[2016-10-23 17:42] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_6514c8af-bcfa-4ac2-9d65-b9f9a1bdf344.log) for details.

[2016-10-23 17:54] amihaiemil commented on #121
@charlesmike index

[2016-10-23 17:54] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_c87eb3d6-945b-4102-a519-e5d60ac6e55e.log).

[2016-10-23 17:54] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_c87eb3d6-945b-4102-a519-e5d60ac6e55e.log) for details.

[2016-10-23 18:20] amihaiemil commented on #121
@charlesmike index

[2016-10-23 18:21] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://localhost:8080/charles-rest/api/logs/Action_72cf8061-328d-4d4b-900d-b43067c23a9c.log).

[2016-10-23 18:21] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://localhost:8080/charles-rest/api/logs/Action_72cf8061-328d-4d4b-900d-b43067c23a9c.log) for details.

[2016-10-25 12:53] amihaiemil commented on #121
@charlesmike index

[2016-10-25 12:53] charlesmike commented on #121
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_62ffcb2f-a4a1-4ef8-8350-10e1684a981c.log).

[2016-10-25 12:54] charlesmike commented on #121
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_62ffcb2f-a4a1-4ef8-8350-10e1684a981c.log) for details.

[2016-10-27 07:44] amihaiemil opened #124 "Drop charles.rest.token"
We should remove `charles.rest.token` and just use the `github.auth.token` instead, since it doesn't need to have admin rights on the Github account anyway (only repo star, and notifications rights are enough) and so it is not so critical.

[2016-10-28 06:34] amihaiemil opened #125 "Rework Action concurrency"
Currently every Action starts on its own thread directly. However, concurrency should be managed by the container... starting threads manually is not such a good practice.

Options to do it:

https://jersey.java.net/documentation/latest/async.html
http://docs.oracle.com/javaee/6/tutorial/doc/gkkqg.html

[2016-10-29 10:31] amihaiemil commented on #124
done

[2016-10-29 10:31] #124 closed, assigned to amihaiemil

[2016-11-04 12:19] amihaiemil opened #127 "Investigate 403 from AWS"
Getting 403 FORBIDDEN response from aws, even though the credentials are valid.

[2016-11-09 12:24] amihaiemil commented on #127
@charlesmike index

[2016-11-09 12:24] charlesmike commented on #127
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_308be6b2-139f-4109-854c-8be86cd124e4.log).

[2016-11-09 12:24] charlesmike commented on #127
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_308be6b2-139f-4109-854c-8be86cd124e4.log) for details.

[2016-11-09 12:25] amihaiemil commented on #127
@charlesmike index

[2016-11-09 12:25] charlesmike commented on #127
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_4f551960-a9af-425b-822d-656808d27ab5.log).

[2016-11-09 12:26] charlesmike commented on #127
@amihaiemil Some steps failed when precessing your command. See [logs](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/Action_4f551960-a9af-425b-822d-656808d27ab5.log) for details.

[2016-11-09 13:58] amihaiemil commented on #125
done

[2016-11-09 13:58] #125 closed, assigned to amihaiemil

[2016-11-10 09:32] amihaiemil commented on #127
@rultor hello

[2016-11-10 09:32] rultor commented on #127
@amihaiemil Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-11-10 09:44] amihaiemil opened #130 "Setup rultor"
Setup [Rultor](http://doc.rultor.com/basics.html) to leverage PR merging and deployment to AWS

[2016-11-12 14:17] #130 closed, assigned to amihaiemil

[2016-11-15 08:53] amihaiemil opened #134 "ActionTaker EJB is not ok"
ActionTaker EJB is not ok in a .war, better make the NotificationsResource a stateless ejb with an async method to take actions. See details [here](http://docs.oracle.com/javaee/6/tutorial/doc/gkncy.html).

[2016-11-15 09:05] amihaiemil commented on #134
Done

[2016-11-15 09:05] #134 closed, assigned to amihaiemil

[2016-11-15 15:42] amihaiemil commented on #127
@charlesmike index

[2016-11-15 15:42] rultor commented on #127
@amihaiemil Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-11-15 15:43] charlesmike commented on #127
@amihaiemil only the repository's owner can trigger an index action.

If the repository is under an organization you must be an active admin and **I must be a member** (this is because currently I cannot check your membership otherwise - see [here](https://developer.github.com/v3/orgs/members/#get-organization-membership)).

[2016-11-15 15:51] amihaiemil commented on #127
@charlesmike index

[2016-11-15 15:53] charlesmike commented on #127
@amihaiemil only the repository's owner can trigger an index action.

If the repository is under an organization you must be an active admin and **I must be a member** (this is because currently I cannot check your membership otherwise - see [here](https://developer.github.com/v3/orgs/members/#get-organization-membership)).

[2016-11-15 16:01] amihaiemil opened #136 "Agent won't take command from admin"
[Here](https://github.com/opencharles/charles-github-ejb/issues/127#issuecomment-260676411), the agent won't take an index command even though the commander is an active admin and the agent is member of the organization.

Investigate, fix the bug and add the logs link to the denial response.

[2016-11-15 16:13] amihaiemil opened #137 "More detailed logs about indexing"
Give more detailed info in the logs regarding the indexing step. [This](http://ec2-54-68-83-8.us-west-2.compute.amazonaws.com:8080/charles-rest/api/logs/e8f76dd2-efea-4c09-a9dc-c75484dfa993.log) was a successful index action, yet 0 info about the index step itself is displayed.

[2016-11-15 16:20] amihaiemil opened #138 "Search result should provide the page's title"
Currently a search result only provides the link, page category and text highlight.
i.e.
[code]

It should also provide the page's title!

[2016-11-15 19:14] amihaiemil opened #140 "Implement index deletion comand"
Give the user the posibility to have the index removed. via the exact command: "@ agent delete [reponame] index" .

[2016-11-15 19:25] #127 closed, assigned to amihaiemil

[2016-11-15 19:26] amihaiemil commented on #121
@charlesmike hello there

[2016-11-15 19:27] charlesmike commented on #121
Hi, @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format `owner.github.io` (or has a `gh-pages` branch) and the command is given by the repo's owner.

[2016-11-15 19:27] amihaiemil commented on #121
@charlesmike test

[2016-11-15 19:29] charlesmike commented on #121
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2016-11-16 15:17] #137 closed, assigned to amihaiemil

[2016-11-16 15:41] amihaiemil commented on #140
done

[2016-11-16 15:41] #140 closed, assigned to amihaiemil

[2016-11-16 15:41] amihaiemil commented on #121
@charlesmike hi

[2016-11-16 15:41] #121 closed, assigned to nobody

[2016-11-16 15:55] amihaiemil opened #142 "Display logs differently"
Right now the link to an action logs file looks very ugly (bare link from the aws ec2 instance).
To fix this, replace it with a link to a page from http://charles.amihaiemil.com . On that page, there will be a JS which will call the logs rest endpoint instead. The log file name will be taken from the query string url.

E.g. link to the logs is http://charles.amihaiemil.com/logs?log=[name]

[2016-11-17 15:09] amihaiemil commented on #136
@charlesmike index pls

[2016-11-17 15:11] charlesmike commented on #136
@amihaiemil only the repository's owner can trigger an index action.

If the repository is under an organization you must be an active admin and **I must be a member** (this is because currently I cannot check your membership otherwise - see [here](https://developer.github.com/v3/orgs/members/#get-organization-membership)).

[2016-11-17 16:07] amihaiemil commented on #142
done.

From now on, the logs the page will be displayed on will be [this one](http://charles.amihaiemil.com/logs.html). coordinated by the `log` query param, which should have a valid  filename. e.g. `?log=12345.log`

[2016-11-17 16:09] #142 closed, assigned to nobody

[2016-11-17 16:20] amihaiemil commented on #138
done

[2016-11-17 16:20] #138 closed, assigned to nobody

[2016-11-18 07:22] #136 closed, assigned to amihaiemil

[2016-11-20 14:31] amihaiemil opened #144 "Index doesn't work for this repo"
See the generated logs bellow for details. Find the issue and fix it.

[2016-11-20 14:31] amihaiemil commented on #144
@charlesmike index

[2016-11-20 14:32] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/feb4cb91-c657-4c20-991f-8085a331a86f.log).

[2016-11-20 14:32] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/feb4cb91-c657-4c20-991f-8085a331a86f.log) for details.

[2016-11-20 14:36] amihaiemil opened #145 "Implement sitemap.xml crawling"
Implement command to crawl sitemap.xml

[2016-11-20 14:36] amihaiemil opened #146 "Implement rultor release script"
Script for release of this war should be implemented. Similar to [eva](https://www.github.com/amihaiemil/eva) or [charles](https://www.github.com/opencharles/charles)

[2016-11-20 15:45] amihaiemil opened #147 "Deleteindex regex not ok"
Fix the deleteindex command regex in ``commands_en.properties``

[2016-11-20 16:01] amihaiemil commented on #147
done

[2016-11-20 16:01] #147 closed, assigned to amihaiemil

[2016-11-20 16:03] amihaiemil opened #149 "Implement check for index existence"
We need to check if the index exists before attempting to delete it. As seen [here](https://github.com/amihaiemil/eva/issues/24) the action fails if a deleteindex command is given on an index that does not exist.

Also, make sure the index start comment is not given on deleteindex.

[2016-11-21 15:30] amihaiemil opened #150 "Endpoint for autocomplete"
Implement REST endpoint for search suggestions

[2016-11-25 17:24] amihaiemil commented on #149
started in #151 , also wrote a request for HEAD. See [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/indices-exists.html)

[2016-11-27 13:42] amihaiemil commented on #149
done in #153 . Unit tests to follow.

[2016-11-29 15:20] amihaiemil commented on #144
@charlesmike hi

[2016-11-29 15:21] charlesmike commented on #144
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2016-12-04 19:35] amihaiemil commented on #146
Almost done.
Moved the EJB checker [here](https://github.com/opencharles/mention-notifications-ejb) and renamed this repo from ``charles-github-ejb`` to ``charles-rest``.

Script to release this project is still needed.

[2016-12-08 09:11] amihaiemil opened #155 "Step.perform() -> Step.perform(Command, Logger)"
Class Brain is growing bigger and bigger with quite long methods and duplicated code.
It should be broken down in more components and maybe made imutable.

**Idea**: ``Brain`` might work with ``Knowledge``s or ``Understanding``s. These would be responsible for returning the Steps to be executed. In other words:  "the agent (brain) has **knowledge** of how to index a site, index a page, delete an i

[2016-12-08 09:14] amihaiemil commented on #155
This is postponed to version ``1.1.0``, since we should publish the release soon and do not have time to keep going back and refactor code. Also, no more actions/commands steps will be implemented until then.

[2016-12-08 09:15] amihaiemil commented on #149
done

[2016-12-08 09:15] #149 closed, assigned to amihaiemil

[2016-12-14 07:24] 0pdd opened #157 "AmazonEsRepository.java:45-47: We might have to implement mappings and ..."
The puzzle `150-f4a028a1` in `src/main/java/com/amihaiemil/charles/aws/AmazonEsRepository.java` (lines 45-47) has to be resolved: We might have to implement mappings and indexing of suggestions. Waiting for a clarification here: https://discuss.elastic.co/t/simple-way-to-implement-autocomplete-functionality/68979

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil

[2016-12-14 07:24] 0pdd opened #158 "AmazonEsSuggest.java:63-64: When the autocomplete topic is clear and..."
The puzzle `150-d3633346` in `src/main/java/com/amihaiemil/charles/aws/AmazonEsSuggest.java` (lines 63-64) has to be resolved: When the autocomplete topic is clear and the handler implemented write unit tests for AmazonEsSuggest.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on 14-Dec-16.

Estimate: 30 minutes, role: DEV.

If you have any technical questions,

[2016-12-14 07:24] 0pdd opened #159 "SuggestQuery.java:85-88: This implementation might have to be cha..."
The puzzle `150-54535ee7` in `src/main/java/com/amihaiemil/charles/aws/SuggestQuery.java` (lines 85-88) has to be resolved: This implementation might have to be changed. Currently it's using bare Suggester which does word correction rather than actual autocomplete. Waiting for an answer here: https://discuss.elastic.co/t/simple-way-to-implement-autocomplete-functionality/68979

The [puzzle](http:/

[2016-12-14 07:24] 0pdd opened #160 "SuggestionsResponseHandler.java:59-60: Once the autocomplete topic is clear and..."
The puzzle `150-47fee5a9` in `src/main/java/com/amihaiemil/charles/aws/SuggestionsResponseHandler.java` (lines 59-60) has to be resolved: Once the autocomplete topic is clear and we have the final response layout, implement and unit test this method.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by amihaiemil on 14-Dec-16.

Estimate: 30 minutes, role: DEV.

If you have any

[2016-12-14 07:40] amihaiemil commented on #150
Puzzles #157 #158 #159 #160 opened to finish this.

[2016-12-14 07:40] #150 closed, assigned to amihaiemil

[2016-12-14 07:53] amihaiemil commented on #145
Postponed

[2016-12-14 12:27] amihaiemil commented on #144
@charlesmike index

[2016-12-14 12:29] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/aed9957f-3109-405c-b27d-c8b19be16bbc.log).

[2016-12-14 12:29] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/aed9957f-3109-405c-b27d-c8b19be16bbc.log) for details.

[2016-12-17 15:42] amihaiemil commented on #144
@charlesmike hello

[2016-12-17 15:43] charlesmike commented on #144
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2016-12-17 15:44] amihaiemil commented on #144
@charlesmike index pls

[2016-12-17 15:45] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/a3444a46-a244-4f32-b644-d467bfdea7f7.log).

[2016-12-17 15:45] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/a3444a46-a244-4f32-b644-d467bfdea7f7.log) for details.

[2016-12-17 15:54] amihaiemil commented on #144
@charlesmike index

[2016-12-17 15:55] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/7772f725-a606-4bd8-bd58-1e45d5b252b6.log).

[2016-12-17 15:55] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/7772f725-a606-4bd8-bd58-1e45d5b252b6.log) for details.

[2016-12-17 16:03] amihaiemil commented on #144
@charlesmike index

[2016-12-17 16:03] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/2c50ec55-5535-40c0-9ade-84a60733ada9.log).

[2016-12-17 16:04] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/2c50ec55-5535-40c0-9ade-84a60733ada9.log) for details.

[2016-12-17 16:06] amihaiemil commented on #144
@charlesmike index

[2016-12-17 16:07] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/f7dd3549-0ac9-410b-8699-f05082d74985.log).

[2016-12-17 16:07] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/f7dd3549-0ac9-410b-8699-f05082d74985.log) for details.

[2016-12-18 07:49] amihaiemil commented on #144
@charlesmike index

[2016-12-18 07:49] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/cf5ef5a1-aa04-47e0-ab36-b80098b95449.log).

[2016-12-18 08:07] charlesmike commented on #144
There was an error when processing your command. [Here](http://charles.amihaiemil.com/logs.html?log=/cf5ef5a1-aa04-47e0-ab36-b80098b95449.log) are the logs.

[2016-12-18 08:25] amihaiemil commented on #144
@charlesmike index

[2016-12-18 08:25] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/3bf12fe7-ef3d-4b66-acfa-d2abdd7b8ab3.log).

[2016-12-18 08:26] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/3bf12fe7-ef3d-4b66-acfa-d2abdd7b8ab3.log) for details.

[2016-12-18 08:39] amihaiemil commented on #144
@charlesmike index

[2016-12-18 08:40] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/c13df1e3-c75e-4e33-87e5-64d14cfe2850.log).

[2016-12-18 08:41] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/c13df1e3-c75e-4e33-87e5-64d14cfe2850.log) for details.

[2016-12-18 08:56] amihaiemil opened #162 "AWS Forbidden again"
Check [this](http://charles.amihaiemil.com/logs.html?log=/e6c3b008-4be2-4dad-879e-99e4068f8292.log) and fix the issue

[2016-12-19 14:03] amihaiemil opened #163 "Implement buildtime static analysis"
Use checkstyle and/or pmd to control code quality.

[2016-12-22 13:28] amihaiemil commented on #144
@charlesmike index

[2016-12-22 13:28] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/da4420ad-3f43-4036-b7ce-70fcb68e2abe.log).

[2016-12-22 13:29] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/da4420ad-3f43-4036-b7ce-70fcb68e2abe.log) for details.

[2016-12-24 11:36] amihaiemil opened #164 "Drop autocomplete for now"
Let's drop autocomplete and just use "search-as-you-type", for 2 reasons:

* it takes a lot of time to implement the completion suggestion in elasticsearch. See [here](https://discuss.elastic.co/t/simple-way-to-implement-autocomplete-functionality/68979)
* it is very difficult and bug prompt from the [front-end](https://github.com/opencharles/charles-search-box)'s pov. How do you show both autocom

[2016-12-24 11:45] 0pdd commented on #157
The puzzle `150-f4a028a1` has disappeared from the source code, that's why I closed this issue.

[2016-12-24 11:45] #157 closed, assigned to amihaiemil

[2016-12-24 11:45] 0pdd commented on #158
The puzzle `150-d3633346` has disappeared from the source code, that's why I closed this issue.

[2016-12-24 11:45] #158 closed, assigned to amihaiemil

[2016-12-24 11:45] 0pdd commented on #159
The puzzle `150-54535ee7` has disappeared from the source code, that's why I closed this issue.

[2016-12-24 11:45] #159 closed, assigned to amihaiemil

[2016-12-24 11:45] 0pdd commented on #160
The puzzle `150-47fee5a9` has disappeared from the source code, that's why I closed this issue.

[2016-12-24 11:45] #160 closed, assigned to amihaiemil

[2016-12-24 11:47] amihaiemil commented on #164
done 14bf475f16df370243c2449666bdf88b93bd8062

[2016-12-24 11:47] #164 closed, assigned to amihaiemil

[2016-12-24 14:09] amihaiemil commented on #144
@charlesmike index

[2016-12-24 14:09] charlesmike commented on #144
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/cc701098-72a1-4401-8bc4-0b7b06174cae.log).

[2016-12-24 14:10] charlesmike commented on #144
@amihaiemil Some steps failed when precessing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/cc701098-72a1-4401-8bc4-0b7b06174cae.log) for details.

[2016-12-24 14:11] amihaiemil commented on #144
the initial errors were fixed. Now it's #162

[2016-12-24 14:11] #144 closed, assigned to nobody

[2016-12-25 13:15] amihaiemil commented on #162
@charlesmike index

[2016-12-25 13:15] charlesmike commented on #162
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/dcc7368b-7629-4f15-81df-417e5736a690.log).

[2016-12-25 13:16] charlesmike commented on #162
@amihaiemil Index command executed successfully!
 Add the following script to the website in order to make the search functionality available:

 &lt;script src=&quot;#&quot;&gt;charles-rest&lt;/script&gt;

 See [logs](http://charles.amihaiemil.com/logs.html?log=/dcc7368b-7629-4f15-81df-417e5736a690.log) for more details.
 If you notice any inexplicable errors, please open an issue [here](https://g

[2016-12-25 13:19] 0pdd opened #166 "RestApplication.java:36-39: Checkstyle validation was added but curr..."
The puzzle `162-48c2e1d6` in `src/main/java/com/amihaiemil/charles/rest/RestApplication.java` (lines 36-39) has to be resolved: Checkstyle validation was added but currently the build fails since not all the rules are respected. The validations should be fixed, but this will probably be an ongoing task since they are too many of them to go in one shot.

The [puzzle](http://www.yegor256.com/2009/03

[2016-12-25 13:21] amihaiemil commented on #163
done in #165

[2016-12-25 13:21] #163 closed, assigned to amihaiemil

[2016-12-25 13:21] amihaiemil commented on #162
done in #165

[2016-12-25 13:22] #162 closed, assigned to amihaiemil

[2016-12-25 16:09] amihaiemil commented on #166
@charlesmike delete index

[2016-12-25 16:10] amihaiemil commented on #166
@charlesmike delete index

[2016-12-25 16:10] charlesmike commented on #166
@amihaiemil the repository's name in a delete command has to be between single back apostrophes.
and it has to match the actual reponame exactly (case sensitive)

A valid delete command here is ``@charlesmike delete `charles-rest` index``.

[2016-12-28 06:25] salikjan opened #167 "Questions"
@charlesmike hi there

[2016-12-28 06:30] amihaiemil commented on #167
@salikjan nice to see you around.

The bot wont answer to that because I accidentally opened the notification email on my phone. And when that mail is opened, Github marks the notification as "read" - so when the 2 minutes expire and the bot does the check, it wont see it.

Also, keep this issue open, I'll explain here and also answer your questions sometime today when I get the time.

[2016-12-28 06:34] amihaiemil commented on #167
@charlesmike hello

[2016-12-28 06:34] charlesmike commented on #167
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2016-12-28 09:47] amihaiemil commented on #167
@salikjan First, to answer your questions:

No, rultor is a chatbot that we command solely on Github, nothing to do locally about it. When a PR will pass code-review, I will ask rultor to merge it. You'll see, it's quite a cool thing!

Shouldn't be a problem, if you receive an issue that cannot be done on windows, simply let it to someone else.

Well, there isn't much I can tell you just from that

[2016-12-28 09:50] amihaiemil commented on #167
@salikjan Second, you have to **fork** the repo you want to contribute to - then you will have a copy of it under your name and that is the one that you **clone** locally.

There will be this triangle of repos: the original one, the fork under your name and the one you have locally on your machine. You work on a separate branch named after the ticket number (e.g. ticket number is 123 => branch nam

[2016-12-28 09:54] amihaiemil commented on #167
@salikjan Lastly, I don't think charles-rest is a good option to start with. For a couple of reasons:

1) It's better to have a fresh project so we all see best what is expected, what's the coding style etc. If we start directly on an ongoing project it's much harder because it already has its architecture and bugs that need to be solved etc. It would be quite frustrating to learn on it, that's wh

[2016-12-28 10:30] salikjan commented on #167
@amihaiemil please tell me what do you mean by fork? Create new branch by git checkout and after that make any changes in that branch and push changes NOT to master but to newly created branch?
If yes then I realize the process of developing in git. At least i read a lot about it. And used it when was solving issues from codeeval.com.

@amihaiemil at first i've choosen eva. i always wanted to have

[2016-12-28 10:32] amihaiemil commented on #167
@salikjan cool, good to know you like the idea :)
I'll make a repo for the project and let you know in a few minutes, I'll tag you in an issue there.

[2016-12-28 10:32] #167 closed, assigned to nobody

[2016-12-31 16:02] amihaiemil opened #169 "Update version of charles library"
A new version of charles library was released. We should update the dependency here as well

[2016-12-31 16:04] #146 closed, assigned to amihaiemil

[2016-12-31 16:26] amihaiemil commented on #145
@charlesmike delete

[2016-12-31 16:26] charlesmike commented on #145
@amihaiemil the repository's name in a delete command has to be between single back apostrophes.
and it has to match the actual reponame exactly (case sensitive)

A valid delete command here is ``@charlesmike delete `charles-rest` index``.

[2016-12-31 16:27] amihaiemil commented on #145
@charlesmike delete `charles-rest` index

[2016-12-31 16:27] charlesmike commented on #145
@amihaiemil the `charles-rest` index was successfully deleted.
Don't forget to remove the script form your website since the search will not work anymore.
See [logs](http://charles.amihaiemil.com/logs.html?log=/78b229e6-0df9-4c02-b49d-0878a4412d68.log) for details.

If you can spare a minute, please consider opening an issue [here](https://github.com/opencharles/charles-rest/issues/new),let us kno

[2016-12-31 16:33] amihaiemil opened #170 "Too many checks for DELETE command"
Currently in a DELETE command it is also checked if the repo has a gh-pages name or branch. See [here](http://charles.amihaiemil.com/logs.html?log=/78b229e6-0df9-4c02-b49d-0878a4412d68.log).

This is a useless and possibly wrong check in deleteindex command.
We already know if the index exists or not, plus, in the meantime the user might remove the gh-pages branch, thus not being able to delete th

[2016-12-31 16:35] amihaiemil opened #171 "deleteindex fails if the index is missing"
As seen [here](https://github.com/amihaiemil/eva/issues/23#issuecomment-269871827) the deleteindex action fails if there is no index present. Investigate and fix the issue.

[2016-12-31 16:46] amihaiemil commented on #171
first, let's write a unit test with a mock server to see how AwsHead with the response/err handlers are actually working when making a real request

[2016-12-31 16:46] #169 closed, assigned to amihaiemil

[2017-01-01 13:38] amihaiemil commented on #171
done

[2017-01-01 13:38] #171 closed, assigned to amihaiemil

[2017-01-01 13:56] amihaiemil opened #174 "Russian language"
Let's teach it russian

[2017-01-01 13:58] amihaiemil commented on #174
@salikjan Think you could have a look over it when you have time? See how the Language class is used and those properties files. It's a nice chance to learn this part of the project :)

Have a look, break it down into multiple puzzles (e.g. one for the property files, one for Russian class + usage in Brain and one for unit tests?)

Any questions, just ask :D

[2017-01-01 14:40] amihaiemil commented on #170
done

[2017-01-01 14:40] #170 closed, assigned to amihaiemil

[2017-01-01 14:42] amihaiemil opened #176 "architecure.md file"
Write a file explaining the overall architecture and types involved in this project, so it will be easier for new contributors to understand the codebase.

[2017-01-06 07:48] amihaiemil opened #177 "Fix/missing unit test AwsHttpHeaders"
[This](https://github.com/opencharles/charles-rest/blob/master/src/test/java/com/amihaiemil/charles/aws/AwsHttpHeadersTestCase.java) is the unit tests class for [AwsHttpHeaders](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/aws/AwsHttpHeaders.java).

There is a problem with unit test performsRequest(), because it checks for 2 things:
  1) the request

[2017-01-06 07:52] amihaiemil commented on #177
@brinstong Can you do this? AwsHttpHeaders is a simple decorator, and you should see form the other unit tests how to use FakeAwsHttpRequest instead of an actual base request.

Make sure ``mvn clean install`` passes before making a PR.
Any questions you might have, please ask here.

Don't forget to do the changes on branch 177 (named after this ticket)

[2017-01-09 13:13] amihaiemil commented on #174
@salikjan here, for starters, just have a look over the 2 properties files and see if they could be translated into russian, while respecting the same regexes. Let me know what you think :D

[2017-01-09 15:22] amihaiemil opened #178 "Let's start using hamcrest matchers"
Currently all the tests are done using the simple asserts (mostly ``assertTrue`` and ``assertFalse``) from class ``org.junit.Assert``. This gets the job done, it's the standard way of doing assertions in junit.

However, ``hamcrest matchers`` are:
* more robust
* assertions are more readable
* assertions they offer **better failure messages**

for instance, when a simple assert breaks, you'll only

[2017-01-09 15:25] amihaiemil commented on #178
@dwkielman I think tasks regarding unit tests are good to start with because you get to know the classes involved and how they are used. So I give this to you :)

I'll elaborate the description soon enough. Of course, you won't have to change all the test classes - just a few (how many you can do in 30 min) and leave a puzzle in the code for the rest. I'll explain as soon as I get some time

[2017-01-09 15:34] dwkielman commented on #178
This sounds perfect, I'll get to this today/tonight and if I have any issues getting it running will let you know.

[2017-01-09 15:54] amihaiemil commented on #178
@dwkielman wait for my details and remember, don't lose sleep ^^

Also, you wont have to get the app running (as in, on a jee server) for this task. Just make sure the maven project opens properly in the IDE and you can run the unit tests from there.

[2017-01-09 16:24] amihaiemil commented on #178
@dwkielman I updated the description with all the details. Don't forget to fork the repo, clone it and do the changes on a separate branch named 178 (master is always read-only).

When you're done, make a PR and we'll discuss any code review changes there.

Keep in mind that you don't need to setup the whole project running on a server (some time will pass until you'll have to do that, and ideally

[2017-01-10 10:17] salikjan commented on #174
When i break down an issie into a few puzzles shoud i mark this somewhere on git or just in mind?
Files can be easily tranlsated to russian.
As i understand files shoud be commands_ru.properties, responses_en.properties?

[2017-01-10 10:26] amihaiemil commented on #174
@salikjan yes exactly, the 2 new files should be ``commands_ru.properties`` and ``responses_ru.properties``

You add each puzzle in the code as a ``@todo``. Such a todo will usually be located in a javadoc (it could also be a comment in an xml file for instance). You should put the todo in the code, closest to where the change should happen.

[Here](https://github.com/opencharles/charles-rest/blob

[2017-01-10 10:48] salikjan commented on #174
Ok. But where in code i should place @todo in the case of properties files which are not exist?

[2017-01-10 10:50] amihaiemil commented on #174
@salikjan In this case I would say above the Language class.

More puzzles can be in the same place, one under the other.
I say this because in the Language class there will also be the todo for implementing and unit testing Russian class.

[2017-01-10 12:15] amihaiemil commented on #174
@salikjan can you pls make another PR, adding spaces at the beginning of each new line in the todos from Language? Also, put back the puzzle for translating responses.properties as well. A task should be opened, and I'm going to assign it to you :D

[2017-01-10 12:20] amihaiemil commented on #174
@salikjan Also, it seems that character encoding will be fun, but we'll see :D

[2017-01-10 12:23] salikjan commented on #174
@amihaiemil i thought about it )) may be we should negotiate the codepage? koi8-r, win-1251 or unicode so i could set it in my ide or external editor as like as notepad++

[2017-01-10 12:24] salikjan commented on #174
@amihaiemil now utf-8 is set in idea

[2017-01-10 12:34] amihaiemil commented on #174
@salikjan well, for now, just make that PR when you have time (to fix the puzzles) and let's close this issue. We'll talk later. I think UTF-8 should do the trick? Not sure, I'll have to study it a bit

[2017-01-10 12:46] amihaiemil commented on #174
@salikjan ``koi8-r`` worked for me, in Eclipse. I set the file encoding to that and now they seem to be displayed alright. I mean, I guess. They seem like paitings to me, haha :))

[2017-01-10 12:49] salikjan commented on #174
I have translated 1/3 of responses properties file. To be continued tomorrow ))

[2017-01-10 12:52] amihaiemil commented on #174
@salikjan Sure, thank you :D

Just a note: a puzzle is intended to delegate the task to someone else. So you add a puzzle in the code not for yourself to keep track of your work, but for someone else to take it up later. Well, in this particular case, you would have done it anyway, since you're the only russian speaker. But if there was someone else, the puzzle might have been taken up by them.

I

[2017-01-10 12:54] salikjan commented on #174
What is the attitude in responses should be when I meet "you" in text. You? or thou? Beacuse in russian two words used for this. Polite You and not polite Thou.

[2017-01-10 12:56] amihaiemil commented on #174
@salikjan casual, so not necessarily polite, is ok. "thou" should be fine. I doubt anyone will ever get upset about this. Those people do not use Github, for sure :))

[2017-01-10 12:57] salikjan commented on #174
ok )) what about delegating? i should tell you that I've finished working on issue and you can delegate issue to someone else?
Or do it by my own?

[2017-01-10 13:00] amihaiemil commented on #174
@salikjan You simply leave the puzzles in the code, and when the branch is merged, one issue for each puzzle should be opened automatically (by [0pdd](https://www.github.com/0pdd)). Now one issue should have been opened, since you let a todo, but I think it didn't work because it misses the space at the beginning of the new sentence (I'll add it).

So, when you add a puzzle, you're basically sayin

[2017-01-10 17:58] dwkielman commented on #178
@amihaiemil I got everything set up on my end and with a separate branch, needed to do some git tutorial but I think I have everything working on my end now.  If you have a specific test you want me to work on you can assign it to me and I'm happy to start working on any without losing sleep :)

[2017-01-10 18:00] amihaiemil commented on #178
@dwkielman well, this is the task and it's assigned to you. Pick 2 or 3 test classes which you can do in 30 min (I suggested some in the description) and add a puzzle in the code for the rest - I'll explain the puzzle format when you make a PR.

And as I said, if you have any questions, ask here :P

[2017-01-10 18:01] dwkielman commented on #178
@amihaiemil gotcha, I didn't know if there was a specific test you wanted me to work on but I'll find one that sounds good and follow the format and give it a go.

Any issues I'll bring up here :)

[2017-01-11 06:11] salikjan opened #181 "Bug: Misstyped keyword in comparison in CommandCategory"
Code snipppet:
[code]
Method isUnderstood() is never used but for future purposes must be corrected.
Should be:
[code]

[2017-01-11 06:35] amihaiemil commented on #181
@salikjan The method is actually used in only one place, inside ``Brain.categorizeCommand()``. Its purpose is to stop the language iterations, in order to avoid useless loops once the command has been understood.

The idea is, the Brain has an array of Language and once a command is received, it iterates over the languages and tries to "understand" the command. Once it's understood, it makes no se

[2017-01-11 06:38] amihaiemil commented on #181
@salikjan By the way, when you are copying code snippets and such things in a comment, you can use [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) to style your comment and make it more readable.

E.g.
public boolean isUnderstood() {
return !this.type.equals("unkown");
}

vs

[code]

You can style a code snippet by adding 3 back-apostrophes (`` ``` ``) on the first lin

[2017-01-11 06:41] salikjan commented on #181
@amihaiemil modified code snippet. understood about isUnderstood() method

[2017-01-11 06:44] amihaiemil commented on #174
@salikjan I'm closing this since the property files are done. Btw, you are now listed as a contributor on the site as well: http://charles.amihaiemil.com/

[2017-01-11 06:44] #174 closed, assigned to salikjan

[2017-01-11 07:59] #181 closed, assigned to amihaiemil

[2017-01-11 16:05] dwkielman commented on #178
@amihaiemil Forgive my early stages of programming, but I really am learning a lot here.  Got the project in my IDE (using IntelliJ, used Gradle before not too familiar with maven but figuring it out) and got the hamcrest dependency added to the xml.  Before I get I was gonna start with EnglishTestCase and convert the test cases already there into hamcrest format, correct?  Wanted to be sure befor

[2017-01-11 16:16] amihaiemil commented on #178
@dwkielman Don't apologize, we've all been there :P

Yes, ``EnglishTestCase`` is good to start with. All you have to do is convert the asserts into matchers hamcrest asserts (check the description, in the last line I put a link to a test class that uses them, to have as example). No logic of the test needs to change.

I cannot tell you how different is Gradle from Maven because I've never used Gra

[2017-01-11 16:25] dwkielman commented on #178
Thanks @amihaiemil for all the advice!

I tried running that build command `mvn clean install` but not sure if I was in the right folder.  Maven was easy to integrate, it's an option to select when creating the project so wasn't too tough to get that going, I more just have to familiarize myself with the way a Maven build works and I'm all for learning that too.  Doesn't seem too difficult :)

I'l

[2017-01-11 16:28] amihaiemil commented on #178
@dwkielman If Maven is integrated in your IDE, then you should be able to run the build from there (somewhere it should ask you to type in the "goals", which are ``clean install``).

If you can't figure that out, simply go in the project's directory, open a terminal and run ``mvn clean install``:P

Also, intelliJ is quite popular, so any google search about maven and intellij should get your answe

[2017-01-11 16:34] dwkielman commented on #178
@amihaiemil  Thanks for pointing that out.  Yes, those were definitely all terms I saw, "goals" and whatnot, I just had no idea what they did haha.  And yup, I've been able to find some great tutorials on getting it running with intellij so hasn't been difficult to find support, I just want to make sure I'm getting it right too since it's my first time in this direction but it'll be cake in no tim

[2017-01-11 16:59] amihaiemil commented on #178
@dwkielman One more point: there is Travis CI integrated in all the repos and also rultor is used when merging, so basically any build failure will be caught and I'll explain if you can't figure it out :)

[2017-01-12 13:57] amihaiemil commented on #176
@salikjan @dwkielman FYI, I wrote [architecture.md](https://github.com/opencharles/charles-rest/blob/master/architecture.md) file, briefly explaining the overall architecture of this project.

You can have a look when you have time and feel like it, or simply consult it when you happen to have a bigger task, to know the overall picture.

[2017-01-12 13:58] #176 closed, assigned to amihaiemil

[2017-01-13 05:39] dwkielman commented on #178
@amihaiemil Two issues I'm encountering so far.  Tried this for over an hour and not sure if one is involving the other or what's happening and realized I'm staring at my screen too long.

I got the `mvn clean install` to work but I'm getting an error.  Here's what it looks like:
`Results :

Failed tests:   structuresPagesCorrectly(com.amihaiemil.charles.aws.EsBulkJsonTestCase): The 2 structures a

[2017-01-13 06:04] amihaiemil commented on #178
@dwkielman i'll answer in about 1-2h, when I get to a laptop :)

[2017-01-13 06:07] dwkielman commented on #178
@amihaiemil Thanks!  I'll be asleep but will work on it in the morning :)

[2017-01-13 06:08] amihaiemil commented on #178
@dwkielman sure, no worries

[2017-01-13 07:24] amihaiemil commented on #178
@dwkielman To answer the first question:

**Answer**
The problem is that, right now, the file ``src/test/resources/bulkIndexStructure.txt`` has Windows-style line endings, on your machine. That's why the test fails.

It will pass once you convert the line endings to Unix-like endings. As I see at a first google search, this is not so easy to do in IntelliJ (it's one click in Eclipse, hehe), but yo

[2017-01-13 07:50] amihaiemil commented on #178
@dwkielman To answer your second question:

Why are you struggling with that? :D  You don't have to write any new tests, or alter any code in the existing ones, **except for the asserts**

So you look at a test's code, the asserts are at the end: you literally don't have to touch any line above the first assert, but simply translate those asserts into matchers asserts. Example of matcher asserts y

[2017-01-20 07:05] 0pdd opened #184 "Brain.java:61-63: After Russian language is done and teste..."
The puzzle `181-ca416da0` in `src/main/java/com/amihaiemil/charles/github/Brain.java` (lines 61-63) has to be resolved: After Russian language is done and tested, let's start using it. It should be added bellow, right after English and everything should work after that.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Mihai Emil Andronache on 19-Jan-17.

Estimate: 30 minut

[2017-01-20 07:05] 0pdd opened #185 "Command.java:44-46: Test puzzle to test if 0pdd works for th..."
The puzzle `176-a617e601` in `src/main/java/com/amihaiemil/charles/github/Command.java` (lines 44-46) has to be resolved: Test puzzle to test if 0pdd works for this repository? Last puzzle didn't generate any Github issue, seems to be a bug asdasdew.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Mihai Emil Andronache on 19-Jan-17.

Estimate: 60 minutes, role: DEV.

If y

[2017-01-20 07:05] 0pdd opened #186 "English.java:33-35: Implement and unit test Language class R..."
The puzzle `174-2ae6a13d` in `src/main/java/com/amihaiemil/charles/github/English.java` (lines 33-35) has to be resolved: Implement and unit test Language class Russian, following the model of this class and its unit tests. The class should use the commands_ru and responses_ru properties files.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Mihai Emil Andronache on 19-Ja

[2017-01-20 07:07] 0pdd commented on #185
The puzzle `176-a617e601` has disappeared from the source code, that's why I closed this issue.

[2017-01-20 07:07] #185 closed, assigned to nobody

[2017-01-20 13:35] amihaiemil commented on #177
@brinstong Have you done anything here or did you change your mind? Should I assign someone else? :D

[2017-01-23 08:30] amihaiemil commented on #177
@SherifWaly Can you take this up when you have some time? Keep in mind that you don't need to get the whole webapp running on a server. Just make sure the test and maven build ``mvn clean install`` passes after you make the changes.

Also, changes should be done on a separate branch, named 177 (after the ticket number). **Master branch is read-only**. When you're done, make a PR.

[2017-01-23 21:54] SherifWaly commented on #177
@amihaiemil mvn clean command passes but mvn install gives compilation error. Could you help me in solving this problem?

[2017-01-24 08:04] amihaiemil commented on #177
@SherifWaly I made the review of your PR - I have 3 comments there :)

Also, I think you mean that the ``build is failing``, not that there are ``compilation errors``?
The build can fail mainly because of failed unit tests or other reasons, such as code quality failure.
But it is quite impossible to have compilation failures - first of all, you would see them in your IDE.

Whatever it was, it seem

[2017-01-24 22:28] SherifWaly commented on #177
@amihaiemil  There were compilations errors but I fixed it by installing some missing issues with the JDK :)

[2017-01-25 06:03] amihaiemil commented on #177
@SherifWaly thanks! :)

[2017-01-25 06:03] #177 closed, assigned to SherifWaly

[2017-01-29 18:56] amihaiemil opened #188 "Update charles lib version"
Charles 1.1.1 is out containing important bug fixes. Let's update the version and deploy.

[2017-01-30 19:47] amihaiemil commented on #188
@charlesmike hi there

[2017-01-30 19:48] charlesmike commented on #188
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-01-31 15:06] #188 closed, assigned to amihaiemil

[2017-02-07 07:28] amihaiemil opened #190 "Solve duplicated results"
When performing a search, there happens to be duplicated results (the term is found in more places on the page and they are treated as separate results). Let's solve this somehow.

[2017-02-17 07:41] amihaiemil opened #191 "Move AWS request decorators in their own package"
Right now those decorators have the method ``public Request<Void>request()``, which should be ``default accessible`` and only by those decorators. No other class should ever see that method

[2017-02-17 20:18] amihaiemil commented on #191
done

[2017-02-17 20:18] #191 closed, assigned to amihaiemil

[2017-02-26 14:29] amihaiemil opened #193 "Index page does not work right"
See [here](http://charles.amihaiemil.com/logs.html?log=/2c777344-0123-4276-a94c-f3c3662f7c8a.log)
The command is [here](https://github.com/amihaiemil/amihaiemil.github.io/issues/2#issuecomment-280903140)

The page's link is not extracted correctly from the comment (has a ``(`` at the beginning). Thus, the indexing process seems to work fine (it is successful), but the page is not actually indexed.

[2017-03-05 18:47] amihaiemil commented on #186
This issue is obsolete now, as we will refactor the brain. It will only speak english, and it won't work with regexes anymore as they are hard to mantain and explain. We'll keep it simple: english and containing words instead or regex...

[2017-03-05 18:47] amihaiemil commented on #184
This issue is obsolete now, as we will refactor the brain. It will only speak english, and it won't work with regexes anymore as they are hard to mantain and explain. We'll keep it simple: english and containing words instead or regex...

[2017-03-05 18:48] amihaiemil commented on #193
fixed

[2017-03-05 18:48] #193 closed, assigned to amihaiemil

[2017-03-05 18:50] amihaiemil opened #195 "Refactor index-finished response"
Currently the response that the bot gives on a successful index command also contains the script that needs to be added to the page. This is rather useless and instead the comment should point to [this](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) link.

[2017-03-05 19:40] amihaiemil commented on #195
done

[2017-03-05 19:40] #195 closed, assigned to amihaiemil

[2017-03-16 16:40] amihaiemil opened #197 "Pages links are not set"
In the search endpoint the pages array of links is built but not set. See [here](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/rest/CharlesResource.java#L119)

Let's fix this and also write unit tests for CharesResource somehow

[2017-03-17 09:10] amihaiemil commented on #197
done

[2017-03-17 09:10] #197 closed, assigned to amihaiemil

[2017-03-17 09:12] amihaiemil opened #199 "A class for each system property"
We read a few system properties in the aws layer.
Let's create classes for each of them and correct the unit tests, according to [this](http://www.amihaiemil.com/2017/02/24/each-system-property-a-class.html) article

[2017-03-17 09:38] amihaiemil commented on #199
@SherifWaly Want to start this? It's quite a lot of changes, but we use PDD.

For starters, I would add interfaces ``EsEndpoint``, ``Region``, ``AccessKeyId``, and `` SecretKey`` (these are 4 system properties that are read in the AWS logic). All of these 4 interfaces should extend interface ``SystemProperty`` which has the method ``String read()``. In the package ``com.amihaiemil.charles.aws``

W

[2017-03-17 11:47] SherifWaly commented on #199
@amihaiemil Ok I will try to understand this task and start it.

[2017-03-17 11:50] amihaiemil commented on #199
@SherifWaly Just read that article and add those interfaces -- no need to start using them in the code yet. I'll start with them and you'll see :D

And leave a puzzle in the code, for this task to be continued

[2017-03-17 11:53] amihaiemil commented on #199
@SherifWaly By the way, the build on this project is simply ``mvn clean install`` (no checkstyle because it wasn't added from the beginning and now it's a mess... I'll have to fix it someday... see [here](https://github.com/opencharles/charles-rest/issues/166))

[2017-03-19 16:50] 0pdd opened #201 "SystemProperty.java:33-35: Implement and Unit test 4 system..."
The puzzle `199-aff84e88` in [`src/main/java/com/amihaiemil/charles/aws/SystemProperty.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/aws/SystemProperty.java) (lines 33-35) has to be resolved: Implement and Unit test 4 system properties SecretKey, Region, EsEndPoint and AccessKeyId. Also add fake implementation for the interfaces to use them in

[2017-03-19 19:08] amihaiemil commented on #199
@SherifWaly btw, you are now listed as a contributor here: http://charles.amihaiemil.com

[2017-03-19 19:12] SherifWaly commented on #199
@amihaiemil I'm happy to know that :D Thanks Mihai!

[2017-03-20 12:28] #199 closed, assigned to SherifWaly

[2017-03-23 08:05] amihaiemil commented on #145
@charlesmike index

[2017-03-23 08:06] charlesmike commented on #145
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/eb7ff9dc-7cc2-4a8d-8e81-77ef04c9871e.log).

[2017-03-23 08:06] charlesmike commented on #145
@amihaiemil Index command executed successfully!
 Add the widget [script](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) to the website in order to make the search functionality available.

 See [logs](http://charles.amihaiemil.com/logs.html?log=/eb7ff9dc-7cc2-4a8d-8e81-77ef04c9871e.log) for more details.
 If you notice any inexplicable errors, please open an issue

[2017-03-23 11:48] amihaiemil commented on #145
@charlesmike hello

[2017-03-23 11:49] charlesmike commented on #145
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-03-28 10:55] amihaiemil commented on #201
@SherifWaly Want to do this? I would do as follows:

* class ``AbstractSystemProperty`` implements ``SystemProperty``, which has a String attribute, ``name``.
 In the ``read()`` method you simply have ``System.getProperty(this.name)``
* the classes for each of the 4 interfaces implement the respective interface and extend ``AbstractSystemProperty``

e.g. for ``Region``:

[code]

As I explained in

[2017-03-28 16:34] SherifWaly commented on #201
@amihaiemil Ok, I will try to do it :D
Just to make sure the unit testing would be made for the `Fake` implementations not the real ones, is that right :D?

[2017-03-28 16:35] amihaiemil commented on #201
@SherifWaly yes :D

[2017-03-29 07:08] amihaiemil opened #204 "Use SystemProperty in the AWS layer"

[2017-03-29 07:10] amihaiemil commented on #204
waiting for #203

[2017-03-29 12:59] #201 closed, assigned to nobody

[2017-03-29 12:59] 0pdd opened #205 "AbstractSystemProperty.java:34-35: Add fake implementation for the 4..."
The puzzle `201-af20c932` in [`src/main/java/com/amihaiemil/charles/aws/AbstractSystemProperty.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/aws/AbstractSystemProperty.java) (lines 34-35) has to be resolved: Add fake implementation for the 4 SystemProperty interfaces to use them in testing.

The puzzle was created by sherif on 29-Mar-17.

Estim

[2017-03-29 12:59] 0pdd commented on #201
The puzzle `199-aff84e88` has disappeared from the source code, that's why I closed this issue.

[2017-04-03 07:55] amihaiemil commented on #145
@charlesmike delete `opencharles/charles-rest` index

[2017-04-03 07:56] charlesmike commented on #145
@amihaiemil the repository's name in a delete command has to be between single back apostrophes.
and it has to match the actual reponame exactly (case sensitive)

A valid delete command here is ``@charlesmike delete `charles-rest` index``.

[2017-04-03 07:57] amihaiemil commented on #145
@charlesmike delete `charles-rest` index

[2017-04-03 07:58] charlesmike commented on #145
@amihaiemil the `charles-rest` index was successfully deleted.
Don't forget to remove the script form your website since the search will not work anymore.
See [logs](http://charles.amihaiemil.com/logs.html?log=/211e1304-fa11-4c31-a330-f6c19e88147d.log) for details.

If you can spare a minute, please consider opening an issue [here](https://github.com/opencharles/charles-rest/issues/new),let us kno

[2017-04-03 08:08] amihaiemil commented on #145
@charlesmike index site pls

[2017-04-03 08:08] charlesmike commented on #145
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2017-04-03 08:08] amihaiemil commented on #145
@charlesmike index site

[2017-04-03 08:09] charlesmike commented on #145
@amihaiemil sorry I do not understand you. See [this link](http://charles.amihaiemil.com/doc.html#commands) for more details.

[2017-04-03 08:09] amihaiemil commented on #145
@charlesmike index

[2017-04-03 08:10] charlesmike commented on #145
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/8dac68bd-5e77-418f-90b5-1073725b6284.log).

[2017-04-03 08:10] charlesmike commented on #145
@amihaiemil Index command executed successfully!
 Add the widget [script](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) to the website in order to make the search functionality available.

 See [logs](http://charles.amihaiemil.com/logs.html?log=/8dac68bd-5e77-418f-90b5-1073725b6284.log) for more details.
 If you notice any inexplicable errors, please open an issue

[2017-04-03 08:13] amihaiemil commented on #145
search script added: 376d87d

[2017-04-03 11:04] amihaiemil commented on #145
@charlesmike delete `charles-rest` index

[2017-04-03 11:05] charlesmike commented on #145
@amihaiemil the `charles-rest` index was successfully deleted.
Don't forget to remove the script form your website since the search will not work anymore.
See [logs](http://charles.amihaiemil.com/logs.html?log=/be03920a-882e-4095-9e0b-94ba04048edb.log) for details.

If you can spare a minute, please consider opening an issue [here](https://github.com/opencharles/charles-rest/issues/new),let us kno

[2017-04-03 11:05] amihaiemil commented on #145
@charlesmike index

[2017-04-03 11:06] charlesmike commented on #145
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/0919bee6-8763-4dfe-82d1-ef7de46d9d1a.log).

[2017-04-03 11:06] charlesmike commented on #145
@amihaiemil Index command executed successfully!
 Add the widget [script](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) to the website in order to make the search functionality available.

 See [logs](http://charles.amihaiemil.com/logs.html?log=/0919bee6-8763-4dfe-82d1-ef7de46d9d1a.log) for more details.
 If you notice any inexplicable errors, please open an issue

[2017-04-12 10:21] amihaiemil commented on #205
@charlesmike hello

[2017-04-12 17:20] amihaiemil commented on #145
@charlesmike hello

[2017-04-12 17:30] charlesmike commented on #145
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-04-12 17:30] charlesmike commented on #205
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-04-17 18:23] missourpro commented on #205
@charlesmike hello there!

[2017-04-17 18:24] charlesmike commented on #205
Hi @missourpro! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-04-18 20:18] amihaiemil commented on #155
@charlesmike hello ... are you off regex?

[2017-04-18 20:19] charlesmike commented on #155
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-05-18 08:05] amihaiemil commented on #145
@charlesmike delete `opencharles/charles-rest` index please

[2017-05-18 08:08] amihaiemil commented on #145
@charlesmike hi

[2017-05-23 17:00] charlesmike commented on #145
@amihaiemil the repository's name in a delete command has to be between single back apostrophes.
and it has to match the actual reponame exactly (case sensitive)

A valid delete command here is ``@charlesmike delete `charles-rest` index``.

[2017-05-23 17:01] amihaiemil commented on #145
@charlesmike delete `charles-rest` index will you

[2017-05-23 17:02] charlesmike commented on #145
@amihaiemil the `charles-rest` index was successfully deleted.
Don't forget to remove the script form your website since the search will not work anymore.
See [logs](http://charles.amihaiemil.com/logs.html?log=/101c34d6-94da-4e8d-8557-8bdc1b4864b7.log) for details.

If you can spare a minute, please consider opening an issue [here](https://github.com/opencharles/charles-rest/issues/new),let us kno

[2017-05-23 17:03] amihaiemil commented on #145
@charlesmike try to index this site please

[2017-05-23 17:04] charlesmike commented on #145
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/2c5d71d5-e07c-4ea7-9f82-44599ca6881f.log).

[2017-05-23 17:07] charlesmike commented on #145
@amihaiemil Index command executed successfully!
 Add the widget [script](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) to the website in order to make the search functionality available.

 See [logs](http://charles.amihaiemil.com/logs.html?log=/2c5d71d5-e07c-4ea7-9f82-44599ca6881f.log) for more details.
 If you notice any inexplicable errors, please open an issue

[2017-05-23 18:14] amihaiemil commented on #145
@charlesmike hello there!

[2017-05-23 18:14] charlesmike commented on #145
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-05-24 16:32] amihaiemil commented on #145
@charlesmike hello

[2017-05-24 16:32] charlesmike commented on #145
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).

[2017-05-24 16:33] amihaiemil commented on #145
@charlesmike try to index [this](http://amihaiemil.github.io/sitemap.xml) sitemap pls

[2017-05-24 16:33] charlesmike commented on #145
@amihaiemil the given page or sitemap does not seem to belong to the website hosted in this repo!

Make sure that the link starts with ``http://`` or ``https://`` followed by``yourusername.github.io/...``. Do not use the CNAME or any other domain, even if it redirects toa page from this repo. Also, make sure that the link is specified in Markdown format.

 If this condition is met and it still doe

[2017-05-24 16:54] amihaiemil commented on #145
done

[2017-05-24 16:54] #145 closed, assigned to amihaiemil

[2017-05-25 07:23] amihaiemil opened #208 "Add .charles.yml support"
We should offer the possibility of adding the ``.charles.yml`` configuration file.
For starters, let's offer a way of specifying commanders and tweet option:

[code]

[2017-06-15 07:31] amihaiemil commented on #155
The Command and Logger should be passed as params in the perform(...) method to:

1) make the building of the Steps pyramid easier and more readable
2) make sure all the steps in the pyramid work on the same command and with the same logger (right now, you can add any steps on top of eachother, and each step may work with a different command)

[2017-06-15 16:05] amihaiemil opened #209 "Link to blogpost"
in the hello response, we should have a link to this: http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html

[2017-06-15 17:22] #209 closed, assigned to nobody

[2017-06-17 10:30] amihaiemil opened #211 "Github WebHook support"
And endpoint which received notifications from a Github Webhook would be nice, as an alternative to the EJB checker

[2017-06-19 16:47] #155 closed, assigned to amihaiemil

[2017-06-19 16:48] amihaiemil opened #213 "Fix rultor merge"
Rultor merge keeps failing on a test: https://github.com/opencharles/charles-rest/pull/212#issuecomment-309498119

[2017-06-19 17:34] amihaiemil commented on #211
webhook payload for issue comment event: https://developer.github.com/v3/activity/events/types/#webhook-event-name-13

[2017-06-21 13:15] amihaiemil opened #214 "Release 1.0.0"

[2017-06-21 13:15] amihaiemil commented on #214
@rultor release please, tag is `1.0.0`

[2017-06-21 13:16] rultor commented on #214
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12055-310074722)

[2017-06-21 13:18] rultor commented on #214
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/12055-310074722) (took me 2min)

[2017-06-21 13:20] amihaiemil commented on #214
@rultor release please, tag is `1.0.1`

[2017-06-21 13:20] rultor commented on #214
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12055-310075949)

[2017-06-21 13:22] rultor commented on #214
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12055-310075949) (spent 2min)

[code]

[2017-06-21 13:24] amihaiemil commented on #214
@rultor release please, tag is `1.0.1`

[2017-06-21 13:25] rultor commented on #214
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12055-310077214)

[2017-06-21 13:27] rultor commented on #214
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12055-310077214) (spent 2min)

[code]

[2017-06-21 13:28] #214 closed, assigned to nobody

[2017-06-26 14:43] amihaiemil commented on #213
@charlesmike hello, are you there?

[2017-06-26 14:43] charlesmike commented on #213
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-07-12 15:26] amihaiemil opened #215 "Design a simpler website"
A simpler website would be nice, to deliver the information easier and in the theme of amihaiemil.com

[2017-07-12 20:32] #215 closed, assigned to charlesmike

[2017-07-13 06:33] amihaiemil commented on #166
@charlesmike hello

[2017-07-13 06:33] charlesmike commented on #166
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-07-13 06:49] amihaiemil commented on #213
@charlesmike delete `charles-rest` index pls

[2017-07-13 06:50] charlesmike commented on #213
@amihaiemil the `charles-rest` index was successfully deleted.
Don't forget to remove the script form your website since the search will not work anymore.
See [logs](http://charles.amihaiemil.com/logs.html?log=/1b19616e-30e8-4f4a-90af-37b1bfa884ef.log) for details.

If you can spare a minute, please consider opening an issue [here](https://github.com/opencharles/charles-rest/issues/new),let us kno

[2017-07-13 06:52] amihaiemil commented on #213
@charlesmike index the new site pls

[2017-07-13 06:53] charlesmike commented on #213
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/c9bb2e7b-734c-41ab-9673-2298527e074c.log).

[2017-07-13 06:53] charlesmike commented on #213
@amihaiemil Index command executed successfully!
 Add the widget [script](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) to the website in order to make the search functionality available.

 See [logs](http://charles.amihaiemil.com/logs.html?log=/c9bb2e7b-734c-41ab-9673-2298527e074c.log) for more details.
 If you notice any inexplicable errors, please open an issue

[2017-07-13 07:41] amihaiemil commented on #190
This is actually another bug: https://github.com/opencharles/charles/issues/97

[2017-07-13 07:41] #190 closed, assigned to amihaiemil

[2017-07-19 20:05] amihaiemil opened #219 "Brain.withCommonChecks(...) should be a Step"
Pull out the code from that method into more apropriate steps.

[2017-07-19 21:10] amihaiemil opened #220 "Replace Brain with a composition of Knowledge"
Right now, the Brain class does mainly 2 things:

1) understands (categorizes) the command via the Language class
2) once the command is categorized, it builds the according pyramid of steps.

Let's redesign this a little: instead of this big class Brain, the bot should have
more implementations of Knowledge.

Until now, the bot has 2 Knowledges:

1) Language knowledge - it can understand a comman

[2017-07-20 07:49] 0pdd commented on #184
The puzzle `181-ca416da0` has disappeared from the source code, that's why I closed this issue.

[2017-07-20 07:49] #184 closed, assigned to nobody

[2017-07-20 07:49] #186 closed, assigned to nobody

[2017-07-20 07:49] 0pdd commented on #186
The puzzle `174-2ae6a13d` has disappeared from the source code, that's why I closed this issue.

[2017-07-20 07:49] 0pdd opened #222 "Conversation.java:35-36: Add further Knowledge..."
The puzzle `220-20b595ff` in [`src/main/java/com/amihaiemil/charles/github/Conversation.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/github/Conversation.java) (lines 35-36) has to be resolved: "Add further Knowledge implementations, to replace the Brain class entirely."

The puzzle was created by Mihai Emil Andronache on 20-Jul-17.

Estimate:

[2017-07-20 07:49] 0pdd opened #223 "Command.java:44-45: Add CachedCommand class, which would..."
The puzzle `220-27beec2c` in [`src/main/java/com/amihaiemil/charles/github/Command.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/github/Command.java) (lines 44-45) has to be resolved: "Add CachedCommand class, which would handle caching of values that are currently handled here."

The puzzle was created by Mihai Emil Andronache on 20-Jul-17.

E

[2017-07-20 18:29] 0pdd commented on #223
The puzzle `220-27beec2c` has disappeared from the source code, that's why I closed this issue.

[2017-07-20 18:29] #223 closed, assigned to amihaiemil

[2017-08-03 09:24] amihaiemil commented on #166
@0crat hello there

[2017-08-03 13:52] 0crat commented on #166
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2017-08-08 15:35] amihaiemil opened #226 "Step.perform should throw IOException"
Since all the steps communucate with Github in some way

[2017-08-08 16:21] amihaiemil commented on #226
Done

[2017-08-08 16:21] #226 closed, assigned to amihaiemil

[2017-08-08 16:50] amihaiemil opened #228 "Refactor some steps"
Some steps take the JsonOBject repo as an argument in the ctor. This is not needed anymore, as perform can throw IOException if the repo cannot be read from the command right at perform time.

[2017-08-09 07:40] amihaiemil opened #230 "Use the AbstractSystemProperties in the aws layer"
We have some system properties implemented, which encapsulate the logic related to reading/setting system props. let's use those in the aws layer, they would simplify the tests a lot.

[2017-08-09 09:25] amihaiemil commented on #213
fixed here: https://github.com/opencharles/charles-rest/pull/231#event-1198728248

[2017-08-09 09:25] #213 closed, assigned to nobody

[2017-08-09 12:46] pavanchowdary007 commented on #230
Hi @amihaiemil. I am searching for connecting (Examples ) api for Amazon Elastic Search   . I know this is not right place to ask this question . But I thought u can help me for this . ThanQ

[2017-08-09 13:00] amihaiemil commented on #230
@pavanchowdary007 Hello there! You can communicate with AWS Elastic Search by making HTTP requests to the REST API.

The trouble is, if you make your own HTTP requests, you need to implement all the [signing logic](http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html), which is quite complicated.

I use classes from aws-java-sdk, in order to build my own requests, since they

[2017-08-09 16:00] amihaiemil commented on #230
@pavanchowdary007 I'm going to close this issue since it is resolved. If you have any other questions, feel free to ask them on the blog or open another issue in this repo :D

[2017-08-09 16:00] #230 closed, assigned to amihaiemil

[2017-08-09 16:02] 0pdd commented on #205
The puzzle `201-af20c932` has disappeared from the source code, that's why I closed this issue.

[2017-08-09 16:02] #205 closed, assigned to nobody

[2017-08-10 05:56] amihaiemil commented on #228
@0crat hello

[2017-08-10 05:58] amihaiemil commented on #222
@0crat my skills are Java and JavaEE

[2017-08-10 06:08] 0crat commented on #222
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 06:10] 0crat commented on #228
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-08-10 13:26] amihaiemil commented on #228
@0crat hello

[2017-08-10 13:37] 0crat commented on #228
I'm not managing ` opencharles/charles-rest ` GitHub repository. You have to contact me in Slack first. Our [policy](http://datum.zerocracy.com/pages/policy.html) explains how.

[2017-08-10 13:40] amihaiemil commented on #228
@0crat skills

[2017-08-10 13:42] 0crat commented on #228
I'm not managing ` opencharles/charles-rest ` GitHub repository. You have to contact me in Slack first. Our [policy](http://datum.zerocracy.com/pages/policy.html) explains how.

[2017-08-10 19:38] amihaiemil commented on #228
@SherifWaly hey Sherif, it's been a while, how are you?
Just wanted to let you know that 0crat.com (Zerocracy) will start working soon, so if you are interested in more PDD work, let me know, I can invite you.

ZC is a service which offers automated project management, via the 0crat bot, to any client which is looking for remote devs to work in distributed style.

[2017-08-12 19:01] amihaiemil opened #233 "Folow the commander"
Let's make the bot more social and follow the commander

[2017-08-13 11:26] SherifWaly commented on #228
@amihaiemil hey Mihai, I'm fine what about you :) ?
I'm having an internship until end of September which is fulltime and I don't have enough time for now. If work is continuing to October sure I'm interested :)

[2017-08-13 11:28] amihaiemil commented on #228
@SherifWaly yes I'm also ok, can't complain :)
Sure, I'll keep you updated, see what happens in October

[2017-08-14 19:18] amihaiemil commented on #166
@charlesmike hello there

[2017-08-15 07:40] amihaiemil commented on #204
this is done

[2017-08-15 07:43] 0pdd opened #234 "GeneralPreconditionsCheck.java:42-45: Write some integration tests for this..."
The puzzle `219-dd617bae` (from #219) in [`src/main/java/com/amihaiemil/charles/github/GeneralPreconditionsCheck.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/github/GeneralPreconditionsCheck.java) (lines 42-45) has to be resolved: "Write some integration tests for this step, check that the tree of steps executes correctly/in the right order. F

[2017-08-15 09:35] amihaiemil commented on #228
This is done

[2017-08-15 11:43] amihaiemil commented on #220
continued in this ticket: #222

[2017-08-15 11:43] #220 closed, assigned to amihaiemil

[2017-08-15 12:28] #222 closed, assigned to amihaiemil

[2017-08-15 12:28] 0pdd commented on #222
The puzzle `220-20b595ff` has disappeared from the source code, that's why I closed this issue.

[2017-08-15 12:28] 0pdd opened #237 "Conversation.java:35-36: Hello was added, to handle hello..."
The puzzle `222-903f585c` (from #222) in [`src/main/java/com/amihaiemil/charles/github/Conversation.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/github/Conversation.java) (lines 35-36) has to be resolved: "Hello was added, to handle hello commands. Continue with further Knowledges for the other commands (index site, index page etc)."

The puzz

[2017-08-16 16:08] charlesmike commented on #166
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-08-16 16:34] amihaiemil commented on #166
@charlesmike how's the webhook working?

[2017-08-16 16:34] charlesmike commented on #166
@amihaiemil sorry I do not understand you. See [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post for more details.

[2017-08-16 16:35] amihaiemil commented on #166
@charlesmike hello how are you?

[2017-08-16 16:35] charlesmike commented on #166
Hi @amihaiemil! I can help you index your Github-hosted website, provided that the repository name respects the format ``owner.github.io`` (or has a ``gh-pages`` branch) and the command is given by the repo's owner.

More on commands [here](http://charles.amihaiemil.com/doc.html#commands).
Also, [this](http://www.amihaiemil.com/2017/05/23/meet-charles-michael.html) blog post might be useful.

[2017-08-16 16:40] #237 closed, assigned to nobody

[2017-08-16 16:40] 0pdd commented on #237
The puzzle `222-903f585c` has disappeared from the source code, that's why I closed this issue.

[2017-08-16 16:41] #204 closed, assigned to amihaiemil

[2017-08-16 16:41] #208 closed, assigned to amihaiemil

[2017-08-16 16:41] #211 closed, assigned to amihaiemil

[2017-08-16 16:41] #219 closed, assigned to amihaiemil

[2017-08-16 16:41] #228 closed, assigned to amihaiemil

[2017-08-16 19:09] amihaiemil commented on #166
@charlesmike delete `charles-rest` index pls

[2017-08-16 19:09] charlesmike commented on #166
@amihaiemil the `charles-rest` index was successfully deleted.
Don't forget to remove the script form your website since the search will not work anymore.
See [logs](http://charles.amihaiemil.com/logs.html?log=/e02e8b8f-1bf6-467d-b472-20b40981dc7c.log) for details.

If you can spare a minute, please consider opening an issue [here](https://github.com/opencharles/charles-rest/issues/new),let us kno

[2017-08-16 19:10] amihaiemil commented on #166
@charlesmike index this site pls

[2017-08-16 19:10] charlesmike commented on #166
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/8ee87def-dc21-490e-bbdf-2377f083a653.log).

[2017-08-16 19:10] charlesmike commented on #166
@amihaiemil Index command executed successfully!
 Add the widget [script](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) to the website in order to make the search functionality available.

 See [logs](http://charles.amihaiemil.com/logs.html?log=/8ee87def-dc21-490e-bbdf-2377f083a653.log) for more details.
 If you notice any inexplicable errors, please open an issue

[2017-08-17 06:27] amihaiemil opened #239 "Unit tests for Delete and Confused knowledges"
These 2 still need unit tests.

[2017-08-17 06:30] amihaiemil opened #240 "Enhance search with title"
When searching, we should also look in the document's title, not just in its contents.

[2017-08-17 06:33] amihaiemil opened #241 "Step for tweeting"
The bot should be able to tweet about its actions, using its account: https://twitter.com/charlesmikes

[2017-08-17 12:10] 0pdd opened #243 "Tweet.java:39-40: Pull out the system proerties, same..."
The puzzle `241-12bd8c89` (from #241) in [`src/main/java/com/amihaiemil/charles/github/Tweet.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/github/Tweet.java) (lines 39-40) has to be resolved: "Pull out the system proerties, same as was done in the aws layer, to simplify the unit tests."

The puzzle was created by amihaiemil on 17-Aug-17.

Estim

[2017-08-17 12:49] amihaiemil commented on #243
@charlesmike index [this](http://opencharles.github.io/charles-rest/config.html) new page please

[2017-08-17 12:49] charlesmike commented on #243
@amihaiemil thank you for the command, the indexing process started just now. I will let you know of the outcome shortly. In the meantime, you can check the logs [here](http://charles.amihaiemil.com/logs.html?log=/180c9c64-3d98-4d57-804e-b03331f1196c.log).

[2017-08-17 12:49] charlesmike commented on #243
@amihaiemil Index command executed successfully!
 Add the widget [script](https://github.com/opencharles/charles-search-box#reactjs-search-box-component) to the website in order to make the search functionality available.

 See [logs](http://charles.amihaiemil.com/logs.html?log=/180c9c64-3d98-4d57-804e-b03331f1196c.log) for more details.
 If you notice any inexplicable errors, please open an issue

[2017-08-17 18:17] amihaiemil opened #244 "com.type() returns "unknwon""
Tweet.perform(...) doesn't work because command.type() returns "unknown". However, by this, the command should be properly understood. Find the bug and fix it.

[2017-08-18 07:06] amihaiemil commented on #244
``Conversation`` wraps the command inside ``Understood`` (giving it the proper type and language), before building the apropriate tree of Steps by using further Knowledges. The Steps build fine, but then they have to ``perform`` upon a Command parameter.

The problem is that, inside of ``Action.perform()``, the wrapping of the command inside ``Understood`` is not visible, and the Steps act upon a

[2017-08-18 07:06] #244 closed, assigned to amihaiemil

[2017-08-18 07:07] amihaiemil opened #246 "Remove params from Steps.perform()"
Steps should be a different interface, whose ``perform()`` method takes no params, or only the logger.
This is because, Knowledges wrap Command in Understood command, setting its type and language.

In the end, when the Knowledge builds the tree of steps, it should wrap it inside Steps, which also takes the Command.

The way it is now, we build the Step 3 based on the wrapped (undersood) command,

[2017-08-22 14:56] amihaiemil opened #247 "Remove Reply and TextRely"
Reply proved to be a useless abstraction since we are never going to send anything but text as a comment. So, SendReply should just take a String directly, instead of a Reply object.

[2017-08-22 18:31] amihaiemil commented on #246
done

[2017-08-28 15:09] amihaiemil commented on #241
done

[2017-08-28 15:09] #241 closed, assigned to amihaiemil

[2017-08-28 15:09] #246 closed, assigned to amihaiemil

[2017-08-28 15:15] amihaiemil commented on #233
done and waiting release

[2017-08-29 17:05] #233 closed, assigned to amihaiemil

[2017-09-04 10:28] amihaiemil opened #250 "Implement delete page command"
We should be able to delete a single page from the index. I.e. A page has many modifications, so it should be deleted and then re-indexed.

[2017-09-04 10:41] amihaiemil commented on #247
Decided to not remove it

[2017-09-04 10:45] #247 closed, assigned to nobody

[2017-09-04 14:12] amihaiemil opened #252 "Release 1.0.1"
Let's try and release version 1.0.1 . This time it should also go on maven central

[2017-09-04 14:13] amihaiemil commented on #252
@rultor release please, tag is `1.0.1`

[2017-09-04 14:14] rultor commented on #252
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12899-326973050)

[2017-09-04 14:20] rultor commented on #252
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/12899-326973050) (took me 7min)

[2017-09-04 14:23] amihaiemil commented on #252
version 1.0.1 is on maven central

[2017-09-04 14:23] #252 closed, assigned to nobody

[2017-09-04 17:29] g4s8 opened #253 "500 error for GH ping event"
I set up web hook in my repo, it triggers Github ping event:
[code]
server responded with 500 error:
[code]

[2017-09-04 17:32] amihaiemil commented on #253
Did this happen at the first test ping? Are you sure you checked only issuecomment event?

[2017-09-04 17:33] amihaiemil commented on #253
I'll have a look later today :)

[2017-09-04 17:36] g4s8 commented on #253
@amihaiemil yes, it happened only for first ping, I deselected all except 'issuecomment'. Issuecomment events are working fine.

[2017-09-04 17:55] g4s8 opened #254 "Switch from PhantomJs to Headless Chrome"
I tried to index site, but [some steps failed](https://github.com/g4s8/g4s8.github.io/issues/1#issuecomment-327008090). I restarted with same command and got same error.
BTW @charlesmike posted link to logs, but I didn't find them on page: http://charles.amihaiemil.com/logs.html?log=/887c5b90-1aa5-46e8-9357-3f692e37badc.log

[2017-09-04 18:14] amihaiemil commented on #254
@g4s8 index site sometimes fails bc phantomjs and selenium are quite volatile... trouble when navigating. I'll migrate it to headless chrome as soon as I have some time. In the meantime, try index sitemap, I never had issues with that one.

The logs should display fine, never had issue with them either. Can you maybe open an issue about that, with the link that doesnt work?

[2017-09-04 21:22] amihaiemil commented on #254
@g4s8 apparently, AWS Free Tier is so cheap, that the server's memory is occupied with log files...:
[code]

cleaning up now...

That's why the logs didn't show, the file couldn't even be created...

[2017-09-04 21:35] amihaiemil commented on #254
@g4s8 cleaned and restarted, it should work fine now. Even index site should work for your blog, since it has a few pages only. If not, index sitemap or index page.  Also, the logs should be created and displayed :)

[2017-09-05 04:13] g4s8 commented on #254
@amihaiemil thanks, now I can read logs. Index sitemap command also working fine.
Here new link to logs with `index site` failing: http://charles.amihaiemil.com/logs.html?log=/f6754fb4-baec-467a-b10b-d0fc674c8d62.log

[2017-09-05 04:59] amihaiemil commented on #254
Yes, it's definetely phantom + selenium, I had the same errors

[2017-09-05 06:44] amihaiemil opened #255 "Remove the SearchResult model classes"
SearchResult and SearchResultPage are dumb javabeans. Replace them with [proper objects](http://www.amihaiemil.com/2017/09/01/data-should-be-animated-not-represented.html);

[2017-09-05 08:21] 0pdd opened #258 "SearchResultsPage.java:36-38: Get rid of this POJO and turn it into..."
The puzzle `255-54364d10` (from #255) in [`src/main/java/com/amihaiemil/charles/rest/model/SearchResultsPage.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/rest/model/SearchResultsPage.java) (lines 36-38) has to be resolved: "Get rid of this POJO and turn it into a smart class, same as it was done with SearchResult. Update and unignore tests in

[2017-09-05 14:05] 0pdd opened #260 "AmazonEsRepository.java:57-58: Implement the delete page knowledge...."
The puzzle `250-3323e69b` (from #250) in [`src/main/java/com/amihaiemil/charles/aws/AmazonEsRepository.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/aws/AmazonEsRepository.java) (lines 57-58) has to be resolved: "Implement the delete page knowledge. We have the repo method and unit test for it. Continue with the language, knowledge and steps."

[2017-09-05 14:05] 0pdd opened #261 "AmazonEsRepository.java:59-60: Rename this class to Index (since..."
The puzzle `250-d7d97575` (from #250) in [`src/main/java/com/amihaiemil/charles/aws/AmazonEsRepository.java`](https://github.com/opencharles/charles-rest/blob/master/src/main/java/com/amihaiemil/charles/aws/AmazonEsRepository.java) (lines 59-60) has to be resolved: "Rename this class to Index (since that's what it is), and remove AmazonEsSearch class, moving the search method here"

The puzzle was

[2017-09-06 09:04] amihaiemil commented on #261
Renamed to ElasticSearch and AmazonElasticSearch, instead of Index

[2017-09-06 09:26] #261 closed, assigned to nobody

[2017-09-06 09:28] amihaiemil commented on #250
Continued with #260

[2017-09-06 09:28] #250 closed, assigned to nobody

[2017-09-08 07:53] #258 closed, assigned to nobody

[2017-09-08 07:53] 0pdd commented on #258
The puzzle `255-54364d10` has disappeared from the source code, that's why I closed this issue.

[2017-09-08 09:19] amihaiemil opened #265 "Pass LogsLocation as a method param in Knowledge.hanndle"
RIght now it is specified in the ctor and it's dangerous, since a different LogsLocation could be used by each Knowledge, when in fact there should be a single location for all.

[2017-09-08 10:06] #239 closed, assigned to amihaiemil

[2017-09-08 10:23] amihaiemil opened #267 "Improve twitter messages"
Make the link point to the command, not just to the issue,

[2017-09-08 10:27] amihaiemil commented on #267
postponed...

[2017-09-08 10:27] #267 closed, assigned to nobody

[2017-09-08 13:37] amihaiemil commented on #260
done and waiting release

[2017-09-08 13:58] amihaiemil commented on #265
done

[2017-09-18 08:24] amihaiemil opened #269 "enable HTTPS"
Use let's encrypt to get a certificate for glassfish:
https://community.letsencrypt.org/t/how-do-i-generate-the-lets-encrypt-certificate-and-key-on-my-own-device-more-info-inside/27510/6

[2017-09-18 17:10] amihaiemil commented on #260
@charlesmike please delete [this](http://opencharles.github.io/charles-rest/index.html) page

[2017-09-18 17:10] charlesmike commented on #260
@amihaiemil Some steps failed when processing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/d0181af5-5eda-444c-8654-eb488275935a.log) for details.
Try again and if the error persists please, open an [issue](https://github.com/opencharles/charles-rest/issues/new).

[2017-09-18 17:16] amihaiemil opened #270 "Delete page forbidden"
delete page does not work, AWS returns status 403 FORBIDDEN: http://charles.amihaiemil.com/logs.html?log=/d0181af5-5eda-444c-8654-eb488275935a.log

[2017-09-20 16:23] amihaiemil commented on #269
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/SSL-on-an-instance.html

Step 2: Obtain a CA-signed Certificate

[2017-09-29 18:14] amihaiemil opened #271 "Knowledge.handle -> Knowledge.start"
Rename method handle to start, so we have better semantics when using the knowledges

[2017-09-29 19:35] #271 closed, assigned to amihaiemil

[2017-09-30 17:14] amihaiemil commented on #270
@charlesmike delete [this](http://opencharles.github.io/charles-rest/index.html) page please

[2017-09-30 17:14] charlesmike commented on #270
@amihaiemil Some steps failed when processing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/cac5f3e9-3a67-4445-9a8b-0cab19099169.log) for details.
Try again and if the error persists please, open an [issue](https://github.com/opencharles/charles-rest/issues/new).

[2017-10-05 13:41] SherifWaly commented on #228
@amihaiemil Hi Mihai, I finished my internship now is there still more PDD work :) ?

[2017-10-05 14:00] amihaiemil commented on #270
@charlesmike delete [this](http://opencharles.github.io/charles-rest/inexistent.html) page please

[2017-10-05 14:00] charlesmike commented on #270
@amihaiemil Some steps failed when processing your command. See [logs](http://charles.amihaiemil.com/logs.html?log=/09005efa-34c1-4b0f-be7e-37dab0ccebdd.log) for details.
Try again and if the error persists please, open an [issue](https://github.com/opencharles/charles-rest/issues/new).

[2017-10-11 06:55] amihaiemil commented on #270
@SherifWaly I will explain later today what the problem is

[2017-10-12 12:31] SherifWaly commented on #270
@amihaiemil What is the problem here ?

[2017-10-12 13:00] amihaiemil commented on #270
@SherifWaly When we index each page, we use the url in plain format as id (e.g. the id of an indexed document is ``http://example.com/path/to/page.html``).

Now, we use this id for deletion and I think the problem is that, because of the special characters contained in the url (e.g. ``/``), the AWS signature is not generated correctly, thus we get 403 FORBIDDEN when trying to perform the operation

[2017-10-13 11:54] amihaiemil commented on #270
@SherifWaly The problem is quite straight forward - everywhere we use the ID, we have the URL of the page and need to turn it into a Base64-encoded String. See an example of encoding [here](https://stackoverflow.com/questions/13109588/base64-encoding-in-java) (first answer) -- we don't have Java8, so use the class from Apache Commons (if we don't have the dependency, declare it with maven)

Now, s

[2017-10-26 10:31] amihaiemil opened #273 "Turn Notification into a live object"
Notification is a dumb get/set pojo. Let's animate the Json notification we get from Github, instead.

[2017-10-27 07:47] amihaiemil commented on #273
done

[2017-11-03 18:30] g4s8 opened #275 "Mixed content on https page"
Charles script could not be loaded from https page.

Here is my script tag:
[code]

Firefox error:

Chrome error:

I can't change `http://www.amihaiemil.com` to `https://www.amihaiemil.com` because ssl cert on `www.amihaiemil.com` is not valid.

I think this script and other resources (such as css, images) can be served on `https://webapps.amihaiemil.com`.

[2017-11-03 18:37] amihaiemil commented on #275
@g4s8 yes, you are right, I'll look into it. But only on Monday, I'm afraid, I dont have my laptop this weekend. Until this is fixed, you can download the script yourself and add it on your site :)

[2017-11-03 18:44] amihaiemil commented on #275
I'll try to fix it tomorrow, too, if I can get my hands on a laptop with an SSH client

[2017-11-04 14:03] amihaiemil commented on #275
@g4s8 done; I moved all the resources under the https domain, including the CSS and images. Just change the src attribute to https://webapps.amihaiemil.com/resources/charles/charles.min.js and it should work fine.

Please close this issue if it works :D

[2017-11-04 14:54] g4s8 commented on #275
@amihaiemil many thanks! It's working now :+1:

[2017-11-04 14:54] #275 closed, assigned to nobody

[2017-11-26 16:47] amihaiemil commented on #269
@comdor hello

[2017-11-26 16:48] zoeself commented on #269
@amihaiemil Hi there! I'm only version `0.0.2`, so I can't do much yet. Follow me and [my website](http://comdor.co) for updates on the next version.

[2017-11-26 16:49] amihaiemil commented on #269
@comdor hello

[2017-11-26 16:50] zoeself commented on #269
@amihaiemil Hi there! I'm only version `0.0.2`, so I can't do much yet. Follow me and [my website](http://comdor.co) for updates on the next version.

[2018-01-10 14:00] #269 closed, assigned to amihaiemil

[2018-05-13 20:54] g4s8 opened #276 "Listen for push branch events instead of comments"
Feature request: I think it can be useful to configure charles bot to listen for push events in master branch and re-index site on new commits instead of using ticket comments.

[2018-05-14 07:16] amihaiemil commented on #276
@g4s8 I thought of that too, but realised most of the times it would be a useless operation:

 * how often would a complete reindex be needed?
 * how do we know that text content (searchable content) was changed and not some CSS/JS?
 * how do we know if it's a new page pushed?
 * we could probably iterate over the commits' changed files, but then again, how do we know if we should look over ``.md`

[2018-05-14 07:46] g4s8 commented on #276
@amihaiemil right, it make sense. But what do you think about using commit commands? Like Travis CI use `[skip CI]` in commit message to skip build. Charles may re-index site if commit message contains `[reindex site]` for instance.

[2018-05-14 08:57] amihaiemil commented on #276
@g4s8 Well, it is not a bad idea but, as simple as the functionality may seem, it requires *a lot* of work, mostly refactoring, adding new implementation of the Notifications and Command logic (we would need a Command implementation based on a Commit, for instance) etc.

And personally, I don't really have time for it, I am focused on docker-java-api now. If you would like to start with this, I wi

[2018-05-27 19:30] g4s8 commented on #276
@amihaiemil sorry, I also doesn't have enough time for it. Maybe you can publish this project to ZC board and someone will fix it one day?

[2018-05-29 10:40] amihaiemil commented on #276
@g4s8 I understand, no problem. I won't put it in ZC, though, at least at the moment, since I myself don't have time for it (I am currently working on that Docker client and afterwards ``comdor``).

But yeah, maybe later we'll refactor it and implement this functionality, at least just for the fun of it (as I said, it's a lot of redesign to be done).

[2018-06-16 09:19] amihaiemil opened #277 "Index does not seem to work"
Logs are clean, apparently the call is successful, but no documents are present in the ES index.

[2018-06-29 09:03] amihaiemil opened #278 "Let's remove twitter"
Let's remove it, it is useless.

[2018-10-10 17:16] #278 closed, assigned to nobody

[2018-10-10 17:16] #243 closed, assigned to nobody

[2018-10-10 17:16] 0pdd commented on #243
The puzzle `241-12bd8c89` has disappeared from the source code, that's why I closed this issue.

[2018-10-10 17:16] 0pdd commented on #241
@amihaiemil the only puzzle [#243](https://github.com/opencharles/charles-rest/issues/243) is solved here.

[2018-10-10 18:32] amihaiemil opened #281 "index-sitemap does not work"
For some reason, ``index sitemap`` doesn't work. Let's try to debug and fix it. See #280.

[2018-10-10 18:36] amihaiemil opened #282 "Release 1.2.0"
Let's release version ``1.2.0``, it contains numerous refactorings, bugfixes and the new ``driver`` option (configurable in ``.charles.yml``) which lets you choose between phantomjs and chrome as the crawling tool.

[2018-10-10 18:38] #277 closed, assigned to amihaiemil

[2018-10-10 18:40] amihaiemil commented on #282
@rultor release it, tag is `1.2.0`

[2018-10-10 18:45] rultor commented on #282
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16156-428685338)

[2018-10-10 18:48] rultor commented on #282
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16156-428685338) (spent 3min)

[code]

[2018-10-11 05:12] amihaiemil commented on #282
Let's fix these javadocs...

[2018-10-11 13:22] amihaiemil commented on #282
@rultor try to release again, tag is `1.2.0`

[2018-10-11 13:23] rultor commented on #282
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16156-428952986)

[2018-10-11 13:29] rultor commented on #282
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/16156-428952986) (took me 5min)

[2018-10-11 13:33] #282 closed, assigned to nobody

[2018-10-11 14:16] amihaiemil opened #284 "update website and docs"
Documentation and some data on the website is rather old. Let's update them

[2018-10-11 17:31] amihaiemil opened #285 "Add ignore-patterns option"
.charles.yml should be able to configure ignored patterns for the ``index-site`` crawl.

[2018-10-12 07:34] #253 closed, assigned to amihaiemil

[2018-10-12 07:34] #254 closed, assigned to nobody

[2018-10-12 07:34] #255 closed, assigned to nobody

[2018-10-12 07:34] #260 closed, assigned to amihaiemil

[2018-10-12 07:34] #265 closed, assigned to amihaiemil

[2018-10-12 07:34] #273 closed, assigned to amihaiemil

[2018-10-12 16:12] amihaiemil opened #287 "delete-page 400 BAD REQUEST"
400 error when trying to delete a page. See [here](http://charles.amihaiemil.com/logs.html?log=/bd348cf8-5484-407a-944d-cf64957207f2.log). Maybe ElasticSearch's api changed in this new version, let's check.

[2018-10-14 07:46] amihaiemil opened #288 "Exclude some dependencies"
charles library brings on some dependencies which should be excluded since they are provided by the JavaEE platform (e.g. glassfish jaxb, json-api etc)

[2018-10-14 15:47] #288 closed, assigned to nobody

[2019-01-23 15:29] amihaiemil opened #290 "assume https in page links"
When building the page links for the search results, we should assume ``https://``

[2019-01-23 15:37] amihaiemil opened #292 "Make REST resources extend JsonObject"
All REST resources should extend JsonObject and provide a Json representation of the methods they offer.

[2019-01-24 09:44] #290 closed, assigned to amihaiemil

[2019-01-24 09:44] #292 closed, assigned to nobody

[2019-01-24 09:45] amihaiemil opened #294 "release 1.2.1"
let's release it

[2019-01-24 09:45] amihaiemil commented on #294
@rultor release it, tag is `1.2.1`

[2019-01-24 09:47] rultor commented on #294
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17515-457132956)

[2019-01-24 09:52] rultor commented on #294
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/17515-457132956) (took me 5min)

[2019-01-24 09:56] #294 closed, assigned to nobody

[2019-01-24 10:20] amihaiemil opened #295 "release 1.2.2"
some fixes...

[2019-01-24 10:20] amihaiemil commented on #295
@rultor release it, tag is `1.2.2`

[2019-01-24 10:22] rultor commented on #295
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17516-457144847)

[2019-01-24 10:26] rultor commented on #295
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/17516-457144847) (took me 3min)

[2019-09-04 15:16] #295 closed, assigned to nobody